# Classification Project

# SetUp

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [2]:
pd.set_option("display.max_columns", 300)
pd.set_option("display.max_info_columns", 300)

In [3]:
application_train = pd.read_csv("/Users/drewpeterson/Documents/Programming/Python/LFZ_Python/LFZ_Week12/Classification_Project/home-credit-default-risk/application_train.csv")
application_test = pd.read_csv("/Users/drewpeterson/Documents/Programming/Python/LFZ_Python/LFZ_Week12/Classification_Project/home-credit-default-risk/application_test.csv")
credit_card_balance = pd.read_csv("/Users/drewpeterson/Documents/Programming/Python/LFZ_Python/LFZ_Week12/Classification_Project/home-credit-default-risk/credit_card_balance.csv")
installments_payments = pd.read_csv("/Users/drewpeterson/Documents/Programming/Python/LFZ_Python/LFZ_Week12/Classification_Project/home-credit-default-risk/installments_payments.csv")
previous_application = pd.read_csv("/Users/drewpeterson/Documents/Programming/Python/LFZ_Python/LFZ_Week12/Classification_Project/home-credit-default-risk/previous_application.csv")
POS_CASH_balance = pd.read_csv("/Users/drewpeterson/Documents/Programming/Python/LFZ_Python/LFZ_Week12/Classification_Project/home-credit-default-risk/POS_CASH_balance.csv")
bureau = pd.read_csv("/Users/drewpeterson/Documents/Programming/Python/LFZ_Python/LFZ_Week12/Classification_Project/home-credit-default-risk/bureau.csv")
bureau_balance = pd.read_csv("/Users/drewpeterson/Documents/Programming/Python/LFZ_Python/LFZ_Week12/Classification_Project/home-credit-default-risk/bureau_balance.csv")

In [6]:
list_df = [application_train, application_test, credit_card_balance, installments_payments, previous_application, POS_CASH_balance, bureau, bureau_balance]
list_df_names = ["application_train", "application_test", "credit_card_balance", "installments_payments", "previous_application", "POS_CASH_balance", "bureau", "bureau_balance"]

Functions

In [4]:
def compress_mean(df_example, list_of_columns):
    for each_column in list_of_columns:
        df_example[each_column] = df_example.groupby(["SK_ID_PREV","SK_ID_CURR"])[each_column].transform(lambda x: x.mean())
    return df_example.drop_duplicates()

In [56]:
credit_card_balance.head()

,SK_ID_PREV,SK_ID_CURR,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_INST_MIN_REGULARITY,AMT_PAYMENT_TOTAL_CURRENT,AMT_TOTAL_RECEIVABLE,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD_DEF,AMT_DRAWINGS_TOTAL,CNT_DRAWINGS_TOTAL
0,2562384,378907,56.970,135000,1700.325,1800.0,0.000,35.0,Active,0,1755.0,2.0
1,2582071,363914,63975.555,45000,2250.000,2250.0,64875.555,69.0,Active,0,4500.0,2.0
2,1740877,371185,31815.225,450000,2250.000,2250.0,31460.085,30.0,Active,0,0.0,0.0
3,1389973,337855,236572.110,225000,11795.760,11925.0,233048.970,10.0,Active,0,4500.0,2.0
4,1891521,126868,453919.455,450000,22924.890,27000.0,453919.455,101.0,Active,0,23094.0,2.0

Duplicated SK_ID_CURR and SK_ID_PREV

installments_payments

credit_card_balance

In [28]:
previous_application.isnull().sum()

SK_ID_PREV                           0
SK_ID_CURR                           0
NAME_CONTRACT_TYPE                   0
AMT_ANNUITY                     372235
AMT_APPLICATION                      0
AMT_CREDIT                           1
AMT_DOWN_PAYMENT                895844
AMT_GOODS_PRICE                 385515
WEEKDAY_APPR_PROCESS_START           0
HOUR_APPR_PROCESS_START              0
FLAG_LAST_APPL_PER_CONTRACT          0
NFLAG_LAST_APPL_IN_DAY               0
RATE_DOWN_PAYMENT               895844
RATE_INTEREST_PRIMARY          1664263
RATE_INTEREST_PRIVILEGED       1664263
NAME_CASH_LOAN_PURPOSE               0
NAME_CONTRACT_STATUS                 0
DAYS_DECISION                        0
NAME_PAYMENT_TYPE                    0
CODE_REJECT_REASON                   0
NAME_TYPE_SUITE                 820405
NAME_CLIENT_TYPE                     0
NAME_GOODS_CATEGORY                  0
NAME_PORTFOLIO                       0
NAME_PRODUCT_TYPE                    0
CHANNEL_TYPE                         0
SELLERPLACE_AREA                     0
NAME_SELLER_INDUSTRY                 0
CNT_PAYMENT                     372230
NAME_YIELD_GROUP                     0
PRODUCT_COMBINATION                346
DAYS_FIRST_DRAWING              673065
DAYS_FIRST_DUE                  673065
DAYS_LAST_DUE_1ST_VERSION       673065
DAYS_LAST_DUE                   673065
DAYS_TERMINATION                673065
NFLAG_INSURED_ON_APPROVAL       673065
dtype: int64

In [27]:
previous_application.AMT_ANNUITY.value_counts(dropna=False)

AMT_ANNUITY
NaN          372235
2250.000      31865
11250.000     13974
6750.000      13442
9000.000      12496
              ...
3794.445          1
8723.160          1
27948.330         1
25374.285         1
14704.290         1
Name: count, Length: 357960, dtype: int64

In [29]:
previous_application.groupby(["SK_ID_PREV", "SK_ID_CURR"]).AMT_CREDIT.count().reset_index().sort_values(by="AMT_CREDIT")

         SK_ID_PREV  SK_ID_CURR  AMT_CREDIT
1089886     2204450      438387           0
0           1000001      158271           1
1113482     2230573      444993           1
1113481     2230572      163413           1
1113480     2230571      180451           1
...             ...         ...         ...
556732      1615726      134044           1
556731      1615725      162631           1
556730      1615724      166961           1
556740      1615734      183984           1
1670213     2845382      406596           1

[1670214 rows x 3 columns]

In [24]:
installments_payments.groupby(["SK_ID_PREV", "SK_ID_CURR"]).AMT_PAYMENT.count().reset_index().sort_values(by="AMT_PAYMENT")

        SK_ID_PREV  SK_ID_CURR  AMT_PAYMENT
669480     2221614      268602            0
913452     2682640      418699            0
405092     1717347      292953            0
525121     1945565      221987            0
199967     1347441      426863            0
...            ...         ...          ...
421641     1746731      192083          236
260231     1449382      348429          243
12446      1017477      212238          248
866111     2592574      217360          279
744296     2360056      453103          293

[997752 rows x 3 columns]

In [20]:
credit_card_balance.groupby(["SK_ID_PREV", "SK_ID_CURR"]).MONTHS_BALANCE.count().reset_index().sort_values(by="MONTHS_BALANCE")

       SK_ID_PREV  SK_ID_CURR  MONTHS_BALANCE
87067     2535514      355012               1
89057     2567807      415753               1
72567     2266064      318699               1
9872      1162355      396098               1
40131     1676921      434012               1
...           ...         ...             ...
34719     1575589      392756              96
50887     1874402      135583              96
3924      1061353      453469              96
98235     2730728      425390              96
28438     1468118      225460              96

[104307 rows x 3 columns]

In [9]:
for i in range(8):
    print(f"{list_df_names[i]}: {list_df[i].groupby(["SK_ID_CURR"]).count().sum()}")

application_train: TARGET                        307511
NAME_CONTRACT_TYPE            307511
CODE_GENDER                   307511
FLAG_OWN_CAR                  307511
FLAG_OWN_REALTY               307511
                               ...
AMT_REQ_CREDIT_BUREAU_DAY     265992
AMT_REQ_CREDIT_BUREAU_WEEK    265992
AMT_REQ_CREDIT_BUREAU_MON     265992
AMT_REQ_CREDIT_BUREAU_QRT     265992
AMT_REQ_CREDIT_BUREAU_YEAR    265992
Length: 121, dtype: int64
application_test: NAME_CONTRACT_TYPE            48744
CODE_GENDER                   48744
FLAG_OWN_CAR                  48744
FLAG_OWN_REALTY               48744
CNT_CHILDREN                  48744
                              ...
AMT_REQ_CREDIT_BUREAU_DAY     42695
AMT_REQ_CREDIT_BUREAU_WEEK    42695
AMT_REQ_CREDIT_BUREAU_MON     42695
AMT_REQ_CREDIT_BUREAU_QRT     42695
AMT_REQ_CREDIT_BUREAU_YEAR    42695
Length: 120, dtype: int64
credit_card_balance: SK_ID_PREV                    3840312
MONTHS_BALANCE                3840312
AMT_BALANCE                   3840312
AMT_CREDIT_LIMIT_ACTUAL       3840312
AMT_DRAWINGS_ATM_CURRENT      3090496
AMT_DRAWINGS_CURRENT          3840312
AMT_DRAWINGS_OTHER_CURRENT    3090496
AMT_DRAWINGS_POS_CURRENT      3090496
AMT_INST_MIN_REGULARITY       3535076
AMT_PAYMENT_CURRENT           3072324
AMT_PAYMENT_TOTAL_CURRENT     3840312
AMT_RECEIVABLE_PRINCIPAL      3840312
AMT_RECIVABLE                 3840312
AMT_TOTAL_RECEIVABLE          3840312
CNT_DRAWINGS_ATM_CURRENT      3090496
CNT_DRAWINGS_CURRENT          3840312
CNT_DRAWINGS_OTHER_CURRENT    3090496
CNT_DRAWINGS_POS_CURRENT      3090496
CNT_INSTALMENT_MATURE_CUM     3535076
NAME_CONTRACT_STATUS          3840312
SK_DPD                        3840312
SK_DPD_DEF                    3840312
dtype: int64
installments_payments: SK_ID_PREV                13605401
NUM_INSTALMENT_VERSION    13605401
NUM_INSTALMENT_NUMBER     13605401
DAYS_INSTALMENT           13605401
DAYS_ENTRY_PAYMENT        13602496
AMT_INSTALMENT            13605401
AMT_PAYMENT               13602496
dtype: int64
previous_application: SK_ID_PREV                     1670214
NAME_CONTRACT_TYPE             1670214
AMT_ANNUITY                    1297979
AMT_APPLICATION                1670214
AMT_CREDIT                     1670213
AMT_DOWN_PAYMENT                774370
AMT_GOODS_PRICE                1284699
WEEKDAY_APPR_PROCESS_START     1670214
HOUR_APPR_PROCESS_START        1670214
FLAG_LAST_APPL_PER_CONTRACT    1670214
NFLAG_LAST_APPL_IN_DAY         1670214
RATE_DOWN_PAYMENT               774370
RATE_INTEREST_PRIMARY             5951
RATE_INTEREST_PRIVILEGED          5951
NAME_CASH_LOAN_PURPOSE         1670214
NAME_CONTRACT_STATUS           1670214
DAYS_DECISION                  1670214
NAME_PAYMENT_TYPE              1670214
CODE_REJECT_REASON             1670214
NAME_TYPE_SUITE                 849809
NAME_CLIENT_TYPE               1670214
NAME_GOODS_CATEGORY            1670214
NAME_PORTFOLIO                 1670214
NAME_PRODUCT_TYPE              1670214
CHANNEL_TYPE                   1670214
SELLERPLACE_AREA               1670214
NAME_SELLER_INDUSTRY           1670214
CNT_PAYMENT                    1297984
NAME_YIELD_GROUP               1670214
PRODUCT_COMBINATION            1669868
DAYS_FIRST_DRAWING              997149
DAYS_FIRST_DUE                  997149
DAYS_LAST_DUE_1ST_VERSION       997149
DAYS_LAST_DUE                   997149
DAYS_TERMINATION                997149
NFLAG_INSURED_ON_APPROVAL       997149
dtype: int64
POS_CASH_balance: SK_ID_PREV               10001358
MONTHS_BALANCE           10001358
CNT_INSTALMENT            9975287
CNT_INSTALMENT_FUTURE     9975271
NAME_CONTRACT_STATUS     10001358
SK_DPD                   10001358
SK_DPD_DEF               10001358
dtype: int64
bureau: SK_ID_BUREAU              1716428
CREDIT_ACTIVE             1716428
CREDIT_CURRENCY           1716428
DAYS_CREDIT               1716428
CREDIT_DAY_OVERDUE        1716428
DAYS_CREDIT_ENDDATE       1610875
DAYS_ENDDATE_FACT         1082775
AMT_CREDIT_MAX_OVERDUE     591940
CNT_CREDIT_PROLONG        1716428
AMT_CREDIT_SUM            1716415
AMT_CREDIT_SUM_DEBT       1458759
AMT_CREDIT_SUM_LIMIT      1124648
AMT_CREDIT_SUM_OVERDUE    1716428
CREDIT_TYPE               1716428
DAYS_CREDIT_UPDATE        1716428
AMT_ANNUITY                489637
dtype: int64

KeyError: 'SK_ID_CURR'

# ONE at a Time

## Installments Payments

In [31]:
installments_payments.head()

,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT
0,1054186,161674,1.0,6,-1180.0,-1187.0,6948.360,6948.360
1,1330831,151639,0.0,34,-2156.0,-2156.0,1716.525,1716.525
2,2085231,193053,2.0,1,-63.0,-63.0,25425.000,25425.000
3,2452527,199697,1.0,3,-2418.0,-2426.0,24350.130,24350.130
4,2714724,167756,1.0,2,-1383.0,-1366.0,2165.040,2160.585

In [32]:
installments_payments["DAYS_DIFFERENCE"] = installments_payments.DAYS_INSTALMENT - installments_payments.DAYS_ENTRY_PAYMENT
installments_payments["AMT_DIFFERENCE"] = installments_payments.AMT_PAYMENT - installments_payments.AMT_INSTALMENT

In [33]:
installments_payments.drop(columns=["NUM_INSTALMENT_NUMBER", "DAYS_INSTALMENT", "DAYS_ENTRY_PAYMENT", "AMT_INSTALMENT", "AMT_PAYMENT"],inplace= True)
installments_payments.dropna(inplace=True)

In [34]:
installments_payments.NUM_INSTALMENT_VERSION = installments_payments.groupby(["SK_ID_PREV","SK_ID_CURR"]).NUM_INSTALMENT_VERSION.transform(lambda x: x.median())
installments_payments.DAYS_DIFFERENCE = installments_payments.groupby(["SK_ID_PREV","SK_ID_CURR"]).DAYS_DIFFERENCE.transform(lambda x: x.mean())
installments_payments.AMT_DIFFERENCE = installments_payments.groupby(["SK_ID_PREV","SK_ID_CURR"]).AMT_DIFFERENCE.transform(lambda x: x.mean())

In [35]:
installments_payments.drop_duplicates(inplace=True)

## Credit Card Balance

In [55]:
credit_card_balance = credit_card_balance.drop(columns = ["SK_DPD", "AMT_DRAWINGS_ATM_CURRENT", "AMT_DRAWINGS_OTHER_CURRENT", "AMT_DRAWINGS_CURRENT", "AMT_DRAWINGS_POS_CURRENT", "CNT_DRAWINGS_ATM_CURRENT", "CNT_DRAWINGS_OTHER_CURRENT", "CNT_DRAWINGS_CURRENT", "CNT_DRAWINGS_POS_CURRENT", "AMT_RECEIVABLE_PRINCIPAL", "AMT_RECIVABLE", "AMT_PAYMENT_CURRENT", "MONTHS_BALANCE"])

In [59]:
credit_card_balance.groupby(["SK_ID_PREV", "SK_ID_CURR"]).MONTHS_BALANCE.min().reset_index().sort_values(by="MONTHS_BALANCE")

AttributeError: 'DataFrameGroupBy' object has no attribute 'MONTHS_BALANCE'

In [47]:
credit_card_balance = credit_card_balance.fillna(0)

In [48]:
credit_card_balance["AMT_DRAWINGS_TOTAL"] = credit_card_balance.AMT_DRAWINGS_ATM_CURRENT + credit_card_balance.AMT_DRAWINGS_OTHER_CURRENT + credit_card_balance.AMT_DRAWINGS_CURRENT + credit_card_balance.AMT_DRAWINGS_POS_CURRENT

In [49]:
credit_card_balance["CNT_DRAWINGS_TOTAL"] = credit_card_balance.CNT_DRAWINGS_ATM_CURRENT + credit_card_balance.CNT_DRAWINGS_OTHER_CURRENT + credit_card_balance.CNT_DRAWINGS_CURRENT + credit_card_balance.CNT_DRAWINGS_POS_CURRENT

In [ ]:
credit_card_balance["COUNT"] = credit_card_balance.groupby(["SK_ID_PREV","SK_ID_CURR"]).AMT_BALANCE.transform(lambda x: x.count())

In [45]:
credit_card_balance.isnull().sum()

SK_ID_PREV                         0
SK_ID_CURR                         0
MONTHS_BALANCE                     0
AMT_BALANCE                        0
AMT_CREDIT_LIMIT_ACTUAL            0
AMT_DRAWINGS_ATM_CURRENT      749816
AMT_DRAWINGS_CURRENT               0
AMT_DRAWINGS_OTHER_CURRENT    749816
AMT_DRAWINGS_POS_CURRENT      749816
AMT_INST_MIN_REGULARITY       305236
AMT_PAYMENT_CURRENT           767988
AMT_PAYMENT_TOTAL_CURRENT          0
AMT_RECEIVABLE_PRINCIPAL           0
AMT_RECIVABLE                      0
AMT_TOTAL_RECEIVABLE               0
CNT_DRAWINGS_ATM_CURRENT      749816
CNT_DRAWINGS_CURRENT               0
CNT_DRAWINGS_OTHER_CURRENT    749816
CNT_DRAWINGS_POS_CURRENT      749816
CNT_INSTALMENT_MATURE_CUM     305236
NAME_CONTRACT_STATUS               0
SK_DPD                             0
SK_DPD_DEF                         0
dtype: int64

In [60]:
credit_card_balance

,SK_ID_PREV,SK_ID_CURR,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_INST_MIN_REGULARITY,AMT_PAYMENT_TOTAL_CURRENT,AMT_TOTAL_RECEIVABLE,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD_DEF,AMT_DRAWINGS_TOTAL,CNT_DRAWINGS_TOTAL
0,2562384,378907,56.970,135000,1700.325,1800.000,0.000,35.0,Active,0,1755.0,2.0
1,2582071,363914,63975.555,45000,2250.000,2250.000,64875.555,69.0,Active,0,4500.0,2.0
2,1740877,371185,31815.225,450000,2250.000,2250.000,31460.085,30.0,Active,0,0.0,0.0
3,1389973,337855,236572.110,225000,11795.760,11925.000,233048.970,10.0,Active,0,4500.0,2.0
4,1891521,126868,453919.455,450000,22924.890,27000.000,453919.455,101.0,Active,0,23094.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...
3840307,1036507,328243,0.000,45000,0.000,0.000,0.000,0.0,Active,0,0.0,0.0
3840308,1714892,347207,0.000,45000,0.000,0.000,0.000,23.0,Active,0,0.0,0.0
3840309,1302323,215757,275784.975,585000,2250.000,356994.675,273093.975,18.0,Active,0,540000.0,4.0
3840310,1624872,430337,0.000,450000,0.000,0.000,0.000,0.0,Active,0,0.0,0.0
3840311,2411345,236760,0.000,157500,0.000,0.000,0.000,21.0,Completed,0,0.0,0.0

In [65]:
credit_card_balance["COUNT"] = credit_card_balance.groupby(["SK_ID_PREV","SK_ID_CURR"]).AMT_BALANCE.transform(lambda x: x.count())

In [66]:
credit_card_balance[(credit_card_balance.SK_ID_PREV == 2843476) & (credit_card_balance.SK_ID_CURR == 197090)]

,SK_ID_PREV,SK_ID_CURR,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_INST_MIN_REGULARITY,AMT_PAYMENT_TOTAL_CURRENT,AMT_TOTAL_RECEIVABLE,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD_DEF,AMT_DRAWINGS_TOTAL,CNT_DRAWINGS_TOTAL,COUNT
36636,2843476,197090,124151.130,180000,10800.0,11250.0,124151.130,24.0,Active,32,0.0,0.0,95
45135,2843476,197090,0.000,180000,0.0,0.0,-4.365,41.0,Active,0,0.0,0.0,95
60954,2843476,197090,85966.020,180000,10800.0,0.0,85966.020,28.0,Active,1,0.0,0.0,95
66753,2843476,197090,0.000,180000,0.0,0.0,0.000,41.0,Active,0,0.0,0.0,95
158726,2843476,197090,0.000,180000,0.0,0.0,0.000,41.0,Active,0,0.0,0.0,95
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3720922,2843476,197090,0.000,180000,0.0,0.0,-4.365,41.0,Active,0,0.0,0.0,95
3737088,2843476,197090,0.000,180000,0.0,0.0,0.000,41.0,Active,0,0.0,0.0,95
3743605,2843476,197090,0.000,180000,0.0,0.0,0.000,41.0,Active,0,0.0,0.0,95
3744126,2843476,197090,136037.655,180000,10800.0,10800.0,136037.655,22.0,Active,32,0.0,0.0,95
3760215,2843476,197090,152152.245,180000,10800.0,10800.0,157192.245,18.0,Active,31,0.0,0.0,95

In [68]:
credit_card_balance.select_dtypes(exclude="object").columns

Index(['SK_ID_PREV', 'SK_ID_CURR', 'AMT_BALANCE', 'AMT_CREDIT_LIMIT_ACTUAL',
       'AMT_INST_MIN_REGULARITY', 'AMT_PAYMENT_TOTAL_CURRENT',
       'AMT_TOTAL_RECEIVABLE', 'CNT_INSTALMENT_MATURE_CUM', 'SK_DPD_DEF',
       'AMT_DRAWINGS_TOTAL', 'CNT_DRAWINGS_TOTAL', 'COUNT'],
      dtype='object')

In [67]:
credit_card_balance.select_dtypes(exclude="object").columns

,SK_ID_PREV,SK_ID_CURR,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_INST_MIN_REGULARITY,AMT_PAYMENT_TOTAL_CURRENT,AMT_TOTAL_RECEIVABLE,CNT_INSTALMENT_MATURE_CUM,SK_DPD_DEF,AMT_DRAWINGS_TOTAL,CNT_DRAWINGS_TOTAL,COUNT
0,2562384,378907,56.970,135000,1700.325,1800.000,0.000,35.0,0,1755.0,2.0,47
1,2582071,363914,63975.555,45000,2250.000,2250.000,64875.555,69.0,0,4500.0,2.0,96
2,1740877,371185,31815.225,450000,2250.000,2250.000,31460.085,30.0,0,0.0,0.0,37
3,1389973,337855,236572.110,225000,11795.760,11925.000,233048.970,10.0,0,4500.0,2.0,15
4,1891521,126868,453919.455,450000,22924.890,27000.000,453919.455,101.0,0,23094.0,2.0,96
...,...,...,...,...,...,...,...,...,...,...,...,...
3840307,1036507,328243,0.000,45000,0.000,0.000,0.000,0.0,0,0.0,0.0,10
3840308,1714892,347207,0.000,45000,0.000,0.000,0.000,23.0,0,0.0,0.0,84
3840309,1302323,215757,275784.975,585000,2250.000,356994.675,273093.975,18.0,0,540000.0,4.0,28
3840310,1624872,430337,0.000,450000,0.000,0.000,0.000,0.0,0,0.0,0.0,14
3840311,2411345,236760,0.000,157500,0.000,0.000,0.000,21.0,0,0.0,0.0,74

In [ ]:
credit_card_balance.select_dtypes(exclude="object").columns

In [62]:
credit_card_balance.groupby(["SK_ID_PREV","SK_ID_CURR"]).AMT_BALANCE.count().reset_index().

        SK_ID_PREV  SK_ID_CURR  AMT_BALANCE
0          1000018      394447            5
1          1000030      361282            8
2          1000031      131335           16
3          1000035      436351            5
4          1000077      181153           11
...            ...         ...          ...
104302     2843476      197090           95
104303     2843477      168439           85
104304     2843478      424526           90
104305     2843493      337804           15
104306     2843496      425374           15

[104307 rows x 3 columns]

In [ ]:
def compress_mean(df_example, list_of_columns):
    for each_column in list_of_columns:
        df_example[each_column] = df_example.groupby(["SK_ID_PREV","SK_ID_CURR"])[each_column].transform(lambda x: x.mean())
    return df_example.drop_duplicates()

In [69]:
def compress_median(df_example, list_of_columns):
    for each_column in list_of_columns:
        df_example[each_column] = df_example.groupby(["SK_ID_PREV","SK_ID_CURR"])[each_column].transform(lambda x: x.mean())
    return df_example.drop_duplicates()

In [72]:
credit_card_balance.shape

(3840312, 13)

In [74]:
compressed_credit_card = compress_median(credit_card_balance, credit_card_balance.drop(columns = ["SK_ID_PREV","SK_ID_CURR","NAME_CONTRACT_STATUS"]).columns)

In [75]:
compressed_credit_card[(compressed_credit_card.SK_ID_PREV == 2843476) & (compressed_credit_card.SK_ID_CURR == 197090)]

,SK_ID_PREV,SK_ID_CURR,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_INST_MIN_REGULARITY,AMT_PAYMENT_TOTAL_CURRENT,AMT_TOTAL_RECEIVABLE,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD_DEF,AMT_DRAWINGS_TOTAL,CNT_DRAWINGS_TOTAL,COUNT
36636,2843476,197090,37937.812263,161526.315789,3443.780368,3458.036842,38332.182316,33.989474,Active,3.473684,1894.736842,0.042105,95.0

In [73]:
credit_card_balance[(credit_card_balance.SK_ID_PREV == 2843476) & (credit_card_balance.SK_ID_CURR == 197090)]

,SK_ID_PREV,SK_ID_CURR,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_INST_MIN_REGULARITY,AMT_PAYMENT_TOTAL_CURRENT,AMT_TOTAL_RECEIVABLE,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD_DEF,AMT_DRAWINGS_TOTAL,CNT_DRAWINGS_TOTAL,COUNT
36636,2843476,197090,37937.812263,161526.315789,3443.780368,3458.036842,38332.182316,33.989474,Active,3.473684,1894.736842,0.042105,95.0
45135,2843476,197090,37937.812263,161526.315789,3443.780368,3458.036842,38332.182316,33.989474,Active,3.473684,1894.736842,0.042105,95.0
60954,2843476,197090,37937.812263,161526.315789,3443.780368,3458.036842,38332.182316,33.989474,Active,3.473684,1894.736842,0.042105,95.0
66753,2843476,197090,37937.812263,161526.315789,3443.780368,3458.036842,38332.182316,33.989474,Active,3.473684,1894.736842,0.042105,95.0
158726,2843476,197090,37937.812263,161526.315789,3443.780368,3458.036842,38332.182316,33.989474,Active,3.473684,1894.736842,0.042105,95.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3720922,2843476,197090,37937.812263,161526.315789,3443.780368,3458.036842,38332.182316,33.989474,Active,3.473684,1894.736842,0.042105,95.0
3737088,2843476,197090,37937.812263,161526.315789,3443.780368,3458.036842,38332.182316,33.989474,Active,3.473684,1894.736842,0.042105,95.0
3743605,2843476,197090,37937.812263,161526.315789,3443.780368,3458.036842,38332.182316,33.989474,Active,3.473684,1894.736842,0.042105,95.0
3744126,2843476,197090,37937.812263,161526.315789,3443.780368,3458.036842,38332.182316,33.989474,Active,3.473684,1894.736842,0.042105,95.0
3760215,2843476,197090,37937.812263,161526.315789,3443.780368,3458.036842,38332.182316,33.989474,Active,3.473684,1894.736842,0.042105,95.0

In [78]:
compressed_credit_card.groupby(["SK_ID_PREV", "SK_ID_CURR"]).AMT_BALANCE.count().reset_index().sort_values(by="AMT_BALANCE")

       SK_ID_PREV  SK_ID_CURR  AMT_BALANCE
0         1000018      394447            1
66298     2154307      448278            1
66297     2154306      287708            1
66295     2154304      425348            1
66293     2154302      147252            1
...           ...         ...          ...
89814     2581635      400616            3
12462     1211141      451837            4
81144     2425058      109536            4
647       1007342      433775            4
49034     1843376      211833            4

[104307 rows x 3 columns]

In [82]:
compressed_credit_card[(compressed_credit_card.SK_ID_PREV == 1843376) & (compressed_credit_card.SK_ID_CURR == 211833)]

,SK_ID_PREV,SK_ID_CURR,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_INST_MIN_REGULARITY,AMT_PAYMENT_TOTAL_CURRENT,AMT_TOTAL_RECEIVABLE,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD_DEF,AMT_DRAWINGS_TOTAL,CNT_DRAWINGS_TOTAL,COUNT,NAME_CONTRACT_STATUS_COUNT
40239,1843376,211833,39553.866818,112500.0,2814.974489,3370.72858,39455.241136,33.193182,Active,0.034091,3119.318182,0.204545,88.0,4
220476,1843376,211833,39553.866818,112500.0,2814.974489,3370.72858,39455.241136,33.193182,Completed,0.034091,3119.318182,0.204545,88.0,4
245139,1843376,211833,39553.866818,112500.0,2814.974489,3370.72858,39455.241136,33.193182,Signed,0.034091,3119.318182,0.204545,88.0,4
1803632,1843376,211833,39553.866818,112500.0,2814.974489,3370.72858,39455.241136,33.193182,Sent proposal,0.034091,3119.318182,0.204545,88.0,4

In [83]:
compressed_credit_card["NAME_CONTRACT_STATUS_COUNT"] = compressed_credit_card.groupby(["SK_ID_PREV","SK_ID_CURR"]).NAME_CONTRACT_STATUS.transform(lambda x: x.count())

/var/folders/75/8cznfb4d2j56mrdwqyh36s3w0000gn/T/ipykernel_12417/3353293787.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  compressed_credit_card["NAME_CONTRACT_STATUS_COUNT"] = compressed_credit_card.groupby(["SK_ID_PREV","SK_ID_CURR"]).NAME_CONTRACT_STATUS.transform(lambda x: x.count())

,SK_ID_PREV,SK_ID_CURR,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_INST_MIN_REGULARITY,AMT_PAYMENT_TOTAL_CURRENT,AMT_TOTAL_RECEIVABLE,CNT_INSTALMENT_MATURE_CUM,SK_DPD_DEF,AMT_DRAWINGS_TOTAL,CNT_DRAWINGS_TOTAL,COUNT,NAME_CONTRACT_STATUS_COUNT
0,2562384,378907,27973.440000,192255.319149,1964.587021,3835.946489,28131.744255,20.914894,0.127660,5316.665745,0.340426,47.0,1
1,2582071,363914,32895.901875,63750.000000,2150.343750,5061.562500,32925.555937,43.843750,0.010417,7464.868125,0.875000,96.0,1
2,1740877,371185,112572.811216,378364.864865,5803.671892,19976.959459,112268.977297,18.000000,0.000000,37814.417027,5.621622,37.0,1
3,1389973,337855,189173.943000,201000.000000,8531.181000,8783.670000,186298.923000,6.066667,0.000000,34646.778000,10.000000,15.0,1
4,1891521,126868,194543.745469,227812.500000,10112.539688,16404.375000,194525.204063,53.500000,0.010417,28593.612187,3.000000,96.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3828073,1765390,272144,72417.022500,127875.000000,2576.846250,65983.361250,71497.511250,3.750000,0.000000,160254.255000,56.833333,12.0,2
3834533,1200972,270561,65869.442419,123387.096774,3490.740000,9926.034677,66160.016129,8.161290,0.000000,14403.206613,0.193548,31.0,3
3835440,1568468,275324,0.000000,222187.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,32.0,2
3835752,2593965,225766,170055.905000,439750.000000,8129.315000,16862.532500,169405.955000,3.777778,0.000000,34105.402500,3.166667,36.0,2
3839710,1731333,212131,0.000000,115000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.0,3

In [90]:
compressed_credit_card = compressed_credit_card.drop(columns = "NAME_CONTRACT_STATUS")

In [91]:
compressed_credit_card.shape

(122988, 13)

In [93]:
compressed_credit_card.drop_duplicates(inplace=True)

In [94]:
compressed_credit_card.shape

(104307, 13)

In [ ]:
credit_card_balance.head()

In [80]:
credit_card_balance.NAME_CONTRACT_STATUS.value_counts()

NAME_CONTRACT_STATUS
Active           3698436
Completed         128918
Signed             11058
Demand              1365
Sent proposal        513
Refused               17
Approved               5
Name: count, dtype: int64

In [96]:
compressed_credit_card.groupby(["SK_ID_PREV", "SK_ID_CURR"]).AMT_BALANCE.count().reset_index().sort_values(by="AMT_BALANCE")

        SK_ID_PREV  SK_ID_CURR  AMT_BALANCE
0          1000018      394447            1
69544      2214211      398978            1
69543      2214200      402431            1
69542      2214164      151654            1
69541      2214143      111672            1
...            ...         ...          ...
34763      1576510      356758            1
34762      1576499      135238            1
34761      1576497      181658            1
34771      1576594      451139            1
104306     2843496      425374            1

[104307 rows x 3 columns]

In [95]:
compressed_credit_card

,SK_ID_PREV,SK_ID_CURR,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_INST_MIN_REGULARITY,AMT_PAYMENT_TOTAL_CURRENT,AMT_TOTAL_RECEIVABLE,CNT_INSTALMENT_MATURE_CUM,SK_DPD_DEF,AMT_DRAWINGS_TOTAL,CNT_DRAWINGS_TOTAL,COUNT,NAME_CONTRACT_STATUS_COUNT
0,2562384,378907,27973.440000,192255.319149,1964.587021,3835.946489,28131.744255,20.914894,0.127660,5316.665745,0.340426,47.0,1
1,2582071,363914,32895.901875,63750.000000,2150.343750,5061.562500,32925.555937,43.843750,0.010417,7464.868125,0.875000,96.0,1
2,1740877,371185,112572.811216,378364.864865,5803.671892,19976.959459,112268.977297,18.000000,0.000000,37814.417027,5.621622,37.0,1
3,1389973,337855,189173.943000,201000.000000,8531.181000,8783.670000,186298.923000,6.066667,0.000000,34646.778000,10.000000,15.0,1
4,1891521,126868,194543.745469,227812.500000,10112.539688,16404.375000,194525.204063,53.500000,0.010417,28593.612187,3.000000,96.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3787849,2339982,318916,0.000000,45000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,1
3788692,2720102,174455,0.000000,225000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,1
3802178,1897864,315041,0.000000,270000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,1
3817940,2481982,382749,0.000000,270000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,1
3823070,2191610,349216,0.000000,45000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,1

## Previous Application

In [103]:
previous_application.drop(columns =["RATE_INTEREST_PRIMARY", "RATE_INTEREST_PRIVILEGED"], inplace=True)

In [99]:
previous_application

,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,FLAG_LAST_APPL_PER_CONTRACT,NFLAG_LAST_APPL_IN_DAY,RATE_DOWN_PAYMENT,RATE_INTEREST_PRIMARY,RATE_INTEREST_PRIVILEGED,NAME_CASH_LOAN_PURPOSE,NAME_CONTRACT_STATUS,DAYS_DECISION,NAME_PAYMENT_TYPE,CODE_REJECT_REASON,NAME_TYPE_SUITE,NAME_CLIENT_TYPE,NAME_GOODS_CATEGORY,NAME_PORTFOLIO,NAME_PRODUCT_TYPE,CHANNEL_TYPE,SELLERPLACE_AREA,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
0,2030495,271877,Consumer loans,1730.430,17145.0,17145.0,0.0,17145.0,SATURDAY,15,Y,1,0.000000,0.182832,0.867336,XAP,Approved,-73,Cash through the bank,XAP,NaN,Repeater,Mobile,POS,XNA,Country-wide,35,Connectivity,12.0,middle,POS mobile with interest,365243.0,-42.0,300.0,-42.0,-37.0,0.0
1,2802425,108129,Cash loans,25188.615,607500.0,679671.0,NaN,607500.0,THURSDAY,11,Y,1,NaN,NaN,NaN,XNA,Approved,-164,XNA,XAP,Unaccompanied,Repeater,XNA,Cash,x-sell,Contact center,-1,XNA,36.0,low_action,Cash X-Sell: low,365243.0,-134.0,916.0,365243.0,365243.0,1.0
2,2523466,122040,Cash loans,15060.735,112500.0,136444.5,NaN,112500.0,TUESDAY,11,Y,1,NaN,NaN,NaN,XNA,Approved,-301,Cash through the bank,XAP,"Spouse, partner",Repeater,XNA,Cash,x-sell,Credit and cash offices,-1,XNA,12.0,high,Cash X-Sell: high,365243.0,-271.0,59.0,365243.0,365243.0,1.0
3,2819243,176158,Cash loans,47041.335,450000.0,470790.0,NaN,450000.0,MONDAY,7,Y,1,NaN,NaN,NaN,XNA,Approved,-512,Cash through the bank,XAP,NaN,Repeater,XNA,Cash,x-sell,Credit and cash offices,-1,XNA,12.0,middle,Cash X-Sell: middle,365243.0,-482.0,-152.0,-182.0,-177.0,1.0
4,1784265,202054,Cash loans,31924.395,337500.0,404055.0,NaN,337500.0,THURSDAY,9,Y,1,NaN,NaN,NaN,Repairs,Refused,-781,Cash through the bank,HC,NaN,Repeater,XNA,Cash,walk-in,Credit and cash offices,-1,XNA,24.0,high,Cash Street: high,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1670209,2300464,352015,Consumer loans,14704.290,267295.5,311400.0,0.0,267295.5,WEDNESDAY,12,Y,1,0.000000,NaN,NaN,XAP,Approved,-544,Cash through the bank,XAP,NaN,Refreshed,Furniture,POS,XNA,Stone,43,Furniture,30.0,low_normal,POS industry with interest,365243.0,-508.0,362.0,-358.0,-351.0,0.0
1670210,2357031,334635,Consumer loans,6622.020,87750.0,64291.5,29250.0,87750.0,TUESDAY,15,Y,1,0.340554,NaN,NaN,XAP,Approved,-1694,Cash through the bank,XAP,Unaccompanied,New,Furniture,POS,XNA,Stone,43,Furniture,12.0,middle,POS industry with interest,365243.0,-1604.0,-1274.0,-1304.0,-1297.0,0.0
1670211,2659632,249544,Consumer loans,11520.855,105237.0,102523.5,10525.5,105237.0,MONDAY,12,Y,1,0.101401,NaN,NaN,XAP,Approved,-1488,Cash through the bank,XAP,"Spouse, partner",Repeater,Consumer Electronics,POS,XNA,Country-wide,1370,Consumer electronics,10.0,low_normal,POS household with interest,365243.0,-1457.0,-1187.0,-1187.0,-1181.0,0.0
1670212,2785582,400317,Cash loans,18821.520,180000.0,191880.0,NaN,180000.0,WEDNESDAY,9,Y,1,NaN,NaN,NaN,XNA,Approved,-1185,Cash through the bank,XAP,Family,Repeater,XNA,Cash,x-sell,AP+ (Cash loan),-1,XNA,12.0,low_normal,Cash X-Sell: low,365243.0,-1155.0,-825.0,-825.0,-817.0,1.0
1670213,2418762,261212,Cash loans,16431.300,360000.0,360000.0,NaN,360000.0,SUNDAY,10,Y,1,NaN,NaN,NaN,XNA,Approved,-1193,Cash through the bank,XAP,Family,Repeater,XNA,Cash,x-sell,AP+ (Cash loan),-1,XNA,48.0,middle,Cash X-Sell: middle,365243.0,-1163.0,247.0,-443.0,-423.0,0.0

In [107]:
previous_application.dropna(subset=["AMT_CREDIT", "PRODUCT_COMBINATION"], inplace=True)

In [109]:
previous_application.shape

(1669867, 35)

In [140]:
previous_application.corr(numeric_only=True)

,SK_ID_PREV,SK_ID_CURR,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,HOUR_APPR_PROCESS_START,NFLAG_LAST_APPL_IN_DAY,RATE_DOWN_PAYMENT,DAYS_DECISION,SELLERPLACE_AREA,CNT_PAYMENT,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
SK_ID_PREV,1.000000,-0.000310,0.013356,0.003303,0.003660,-0.002035,0.015293,-0.002660,-0.002828,-0.004000,0.019102,-0.001079,0.018998,-0.001478,-0.000071,0.001222,0.001915,0.001781,0.003986
SK_ID_CURR,-0.000310,1.000000,0.000451,0.000271,0.000185,0.001151,0.000369,0.002846,0.000099,0.000650,-0.000627,0.001265,-0.000027,-0.001329,-0.000757,0.000252,-0.000318,-0.000020,0.000876
AMT_ANNUITY,0.013356,0.000451,1.000000,0.720265,0.724262,0.073423,0.820880,-0.044711,0.022942,-0.061725,0.296235,-0.017169,0.366106,0.052838,-0.053295,-0.068876,0.082660,0.068022,0.283081
AMT_APPLICATION,0.003303,0.000271,0.720265,1.000000,0.975822,0.080635,0.999884,-0.014407,0.004317,-0.033156,0.133745,-0.007654,0.519802,0.074544,-0.049532,-0.084905,0.172627,0.148618,0.259219
AMT_CREDIT,0.003660,0.000185,0.724262,0.975822,1.000000,0.039609,0.993087,-0.021030,-0.025172,-0.053574,0.133850,-0.009573,0.511438,-0.036813,0.002881,0.044031,0.224829,0.214320,0.263932
AMT_DOWN_PAYMENT,-0.002035,0.001151,0.073423,0.080635,0.039609,1.000000,0.091148,0.007089,-0.000292,0.462753,-0.018564,0.003508,-0.002332,0.003055,-0.008273,-0.005637,-0.018657,-0.018089,-0.037073
AMT_GOODS_PRICE,0.015293,0.000369,0.820880,0.999884,0.993087,0.091148,1.000000,-0.045267,-0.017100,-0.047006,0.290422,-0.015842,0.669419,-0.024445,-0.021062,0.016883,0.211696,0.209296,0.243400
HOUR_APPR_PROCESS_START,-0.002660,0.002846,-0.044711,-0.014407,-0.021030,0.007089,-0.045267,1.000000,0.005789,0.016114,-0.039977,0.015673,-0.055463,0.014321,-0.002797,-0.016567,-0.018018,-0.018254,-0.117318
NFLAG_LAST_APPL_IN_DAY,-0.002828,0.000099,0.022942,0.004317,-0.025172,-0.000292,-0.017100,0.005789,1.000000,0.000212,0.016548,0.000913,0.060261,-0.000409,-0.002288,-0.001981,-0.002277,-0.000744,-0.007124
RATE_DOWN_PAYMENT,-0.004000,0.000650,-0.061725,-0.033156,-0.053574,0.462753,-0.047006,0.016114,0.000212,1.000000,-0.139159,-0.002619,-0.089803,0.014642,-0.028993,-0.024840,-0.098393,-0.096623,-0.053131
DAYS_DECISION,0.019102,-0.000627,0.296235,0.133745,0.133850,-0.018564,0.290422,-0.039977,0.016548,-0.139159,1.000000,-0.018378,0.266596,-0.012007,0.176711,0.089167,0.448549,0.400179,-0.028905
SELLERPLACE_AREA,-0.001079,0.001265,-0.017169,-0.007654,-0.009573,0.003508,-0.015842,0.015673,0.000913,-0.002619,-0.018378,1.000000,-0.012994,0.007401,-0.002166,-0.007510,-0.006291,-0.006675,-0.018280
CNT_PAYMENT,0.018998,-0.000027,0.366106,0.519802,0.511438,-0.002332,0.669419,-0.055463,0.060261,-0.089803,0.266596,-0.012994,1.000000,0.309900,-0.204907,-0.381013,0.088903,0.055121,0.320520
DAYS_FIRST_DRAWING,-0.001478,-0.001329,0.052838,0.074544,-0.036813,0.003055,-0.024445,0.014321,-0.000409,0.014642,-0.012007,0.007401,0.309900,1.000000,0.004710,-0.803494,-0.257466,-0.396284,0.177652
DAYS_FIRST_DUE,-0.000071,-0.000757,-0.053295,-0.049532,0.002881,-0.008273,-0.021062,-0.002797,-0.002288,-0.028993,0.176711,-0.002166,-0.204907,0.004710,1.000000,0.513949,0.401838,0.323608,-0.119048
DAYS_LAST_DUE_1ST_VERSION,0.001222,0.000252,-0.068876,-0.084905,0.044031,-0.005637,0.016883,-0.016567,-0.001981,-0.024840,0.089167,-0.007510,-0.381013,-0.803494,0.513949,1.000000,0.423462,0.493174,-0.221947
DAYS_LAST_DUE,0.001915,-0.000318,0.082660,0.172627,0.224829,-0.018657,0.211696,-0.018018,-0.002277,-0.098393,0.448549,-0.006291,0.088903,-0.257466,0.401838,0.423462,1.000000,0.927990,0.012560
DAYS_TERMINATION,0.001781,-0.000020,0.068022,0.148618,0.214320,-0.018089,0.209296,-0.018254,-0.000744,-0.096623,0.400179,-0.006675,0.055121,-0.396284,0.323608,0.493174,0.927990,1.000000,-0.003065
NFLAG_INSURED_ON_APPROVAL,0.003986,0.000876,0.283081,0.259219,0.263932,-0.037073,0.243400,-0.117318,-0.007124,-0.053131,-0.028905,-0.018280,0.320520,0.177652,-0.119048,-0.221947,0.012560,-0.003065,1.000000

In [134]:
previous_application.AMT_DOWN_PAYMENT = previous_application.AMT_DOWN_PAYMENT.interpolate(method='linear', x=previous_application.AMT_APPLICATION)

In [136]:
previous_application.RATE_DOWN_PAYMENT = previous_application.RATE_DOWN_PAYMENT.interpolate(method='linear', x=previous_application.AMT_DOWN_PAYMENT)

In [138]:
previous_application.CNT_PAYMENT = previous_application.CNT_PAYMENT.interpolate(method='linear', x=previous_application.AMT_APPLICATION)

In [141]:
previous_application.AMT_GOODS_PRICE  = previous_application.AMT_GOODS_PRICE.interpolate(method='linear', x=previous_application.AMT_APPLICATION)

In [116]:
previous_application[previous_application.AMT_DOWN_PAYMENT.isnull()]

,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,FLAG_LAST_APPL_PER_CONTRACT,NFLAG_LAST_APPL_IN_DAY,RATE_DOWN_PAYMENT,NAME_CASH_LOAN_PURPOSE,NAME_CONTRACT_STATUS,DAYS_DECISION,NAME_PAYMENT_TYPE,CODE_REJECT_REASON,NAME_TYPE_SUITE,NAME_CLIENT_TYPE,NAME_GOODS_CATEGORY,NAME_PORTFOLIO,NAME_PRODUCT_TYPE,CHANNEL_TYPE,SELLERPLACE_AREA,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
1,2802425,108129,Cash loans,25188.615,607500.0,679671.0,NaN,607500.0,THURSDAY,11,Y,1,NaN,XNA,Approved,-164,XNA,XAP,Unaccompanied,Repeater,XNA,Cash,x-sell,Contact center,-1,XNA,36.0,low_action,Cash X-Sell: low,365243.0,-134.0,916.0,365243.0,365243.0,1.0
2,2523466,122040,Cash loans,15060.735,112500.0,136444.5,NaN,112500.0,TUESDAY,11,Y,1,NaN,XNA,Approved,-301,Cash through the bank,XAP,"Spouse, partner",Repeater,XNA,Cash,x-sell,Credit and cash offices,-1,XNA,12.0,high,Cash X-Sell: high,365243.0,-271.0,59.0,365243.0,365243.0,1.0
3,2819243,176158,Cash loans,47041.335,450000.0,470790.0,NaN,450000.0,MONDAY,7,Y,1,NaN,XNA,Approved,-512,Cash through the bank,XAP,NaN,Repeater,XNA,Cash,x-sell,Credit and cash offices,-1,XNA,12.0,middle,Cash X-Sell: middle,365243.0,-482.0,-152.0,-182.0,-177.0,1.0
4,1784265,202054,Cash loans,31924.395,337500.0,404055.0,NaN,337500.0,THURSDAY,9,Y,1,NaN,Repairs,Refused,-781,Cash through the bank,HC,NaN,Repeater,XNA,Cash,walk-in,Credit and cash offices,-1,XNA,24.0,high,Cash Street: high,NaN,NaN,NaN,NaN,NaN,NaN
5,1383531,199383,Cash loans,23703.930,315000.0,340573.5,NaN,315000.0,SATURDAY,8,Y,1,NaN,Everyday expenses,Approved,-684,Cash through the bank,XAP,Family,Repeater,XNA,Cash,x-sell,Credit and cash offices,-1,XNA,18.0,low_normal,Cash X-Sell: low,365243.0,-654.0,-144.0,-144.0,-137.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1670204,1407146,198989,Cash loans,36598.095,450000.0,570073.5,NaN,450000.0,THURSDAY,12,Y,1,NaN,XNA,Refused,-848,Cash through the bank,HC,Unaccompanied,Repeater,XNA,Cash,x-sell,Credit and cash offices,100,XNA,24.0,middle,Cash X-Sell: middle,NaN,NaN,NaN,NaN,NaN,NaN
1670205,2815130,338803,Cash loans,14584.050,135000.0,182956.5,NaN,135000.0,SATURDAY,10,Y,1,NaN,XNA,Refused,-1407,Cash through the bank,LIMIT,Unaccompanied,Repeater,XNA,Cash,walk-in,Credit and cash offices,100,XNA,24.0,high,Cash Street: high,NaN,NaN,NaN,NaN,NaN,NaN
1670208,1556789,209732,Cash loans,22299.390,315000.0,436216.5,NaN,315000.0,THURSDAY,17,Y,1,NaN,XNA,Approved,-1279,Cash through the bank,XAP,Unaccompanied,Refreshed,XNA,Cash,x-sell,Credit and cash offices,100,XNA,36.0,middle,Cash X-Sell: middle,365243.0,-1249.0,-199.0,-919.0,-912.0,1.0
1670212,2785582,400317,Cash loans,18821.520,180000.0,191880.0,NaN,180000.0,WEDNESDAY,9,Y,1,NaN,XNA,Approved,-1185,Cash through the bank,XAP,Family,Repeater,XNA,Cash,x-sell,AP+ (Cash loan),-1,XNA,12.0,low_normal,Cash X-Sell: low,365243.0,-1155.0,-825.0,-825.0,-817.0,1.0
1670213,2418762,261212,Cash loans,16431.300,360000.0,360000.0,NaN,360000.0,SUNDAY,10,Y,1,NaN,XNA,Approved,-1193,Cash through the bank,XAP,Family,Repeater,XNA,Cash,x-sell,AP+ (Cash loan),-1,XNA,48.0,middle,Cash X-Sell: middle,365243.0,-1163.0,247.0,-443.0,-423.0,0.0

In [119]:
previous_application.AMT_ANNUITY =  previous_application.groupby("NAME_CONTRACT_TYPE").AMT_ANNUITY.transform(lambda x: x.fillna(x.median()))

In [121]:
previous_application.NAME_TYPE_SUITE = previous_application.NAME_TYPE_SUITE.fillna("Unaccompanied")

In [145]:
previous_application.isnull().sum()

SK_ID_PREV                     0
SK_ID_CURR                     0
NAME_CONTRACT_TYPE             0
AMT_ANNUITY                    0
AMT_APPLICATION                0
AMT_CREDIT                     0
AMT_DOWN_PAYMENT               0
AMT_GOODS_PRICE                0
WEEKDAY_APPR_PROCESS_START     0
HOUR_APPR_PROCESS_START        0
FLAG_LAST_APPL_PER_CONTRACT    0
NFLAG_LAST_APPL_IN_DAY         0
RATE_DOWN_PAYMENT              0
NAME_CASH_LOAN_PURPOSE         0
NAME_CONTRACT_STATUS           0
DAYS_DECISION                  0
NAME_PAYMENT_TYPE              0
CODE_REJECT_REASON             0
NAME_TYPE_SUITE                0
NAME_CLIENT_TYPE               0
NAME_GOODS_CATEGORY            0
NAME_PORTFOLIO                 0
NAME_PRODUCT_TYPE              0
CHANNEL_TYPE                   0
SELLERPLACE_AREA               0
NAME_SELLER_INDUSTRY           0
CNT_PAYMENT                    0
NAME_YIELD_GROUP               0
PRODUCT_COMBINATION            0
dtype: int64

In [143]:
previous_application.NFLAG_INSURED_ON_APPROVAL = previous_application.NFLAG_INSURED_ON_APPROVAL.fillna(0)

In [144]:
previous_application.drop( columns = ["DAYS_FIRST_DRAWING", "DAYS_FIRST_DUE","DAYS_LAST_DUE_1ST_VERSION","DAYS_LAST_DUE","DAYS_TERMINATION","NFLAG_INSURED_ON_APPROVAL"], inplace=True)

In [100]:
previous_application.groupby(["SK_ID_PREV", "SK_ID_CURR"]).AMT_ANNUITY.count().reset_index().sort_values(by="AMT_ANNUITY")

         SK_ID_PREV  SK_ID_CURR  AMT_ANNUITY
1670213     2845382      406596            0
343999      1380537      238011            0
343998      1380536      328217            0
343997      1380535      267599            0
343996      1380532      217234            0
...             ...         ...          ...
616466      1681692      436763            1
616465      1681691      396431            1
616464      1681690      400995            1
616484      1681711      394061            1
835106      1923110      230464            1

[1670214 rows x 3 columns]

## Reviewing Data before Merge

In [147]:
compressed_credit_card.isnull().sum()

SK_ID_PREV                    0
SK_ID_CURR                    0
AMT_BALANCE                   0
AMT_CREDIT_LIMIT_ACTUAL       0
AMT_INST_MIN_REGULARITY       0
AMT_PAYMENT_TOTAL_CURRENT     0
AMT_TOTAL_RECEIVABLE          0
CNT_INSTALMENT_MATURE_CUM     0
SK_DPD_DEF                    0
AMT_DRAWINGS_TOTAL            0
CNT_DRAWINGS_TOTAL            0
COUNT                         0
NAME_CONTRACT_STATUS_COUNT    0
dtype: int64

In [148]:
first_merge_df = installments_payments.merge(compressed_credit_card, on=["SK_ID_PREV", "SK_ID_CURR"])
first_merge_df.shape

(72459, 16)

In [149]:
second_merge_df = first_merge_df.merge(previous_application, on=["SK_ID_PREV", "SK_ID_CURR"])
second_merge_df.shape

(62267, 43)

In [164]:
different_columns = []
same_columns = []

for each_column in pd.get_dummies(application_train).columns:
    if each_column in pd.get_dummies(application_test).columns:
        same_columns.append(each_column)
    else:
        different_columns.append(each_column)

In [166]:
different_columns_2 = []
same_columns_2 = []

for each_column in pd.get_dummies(application_test).columns:
    if each_column in pd.get_dummies(application_train).columns:
        same_columns_2.append(each_column)
    else:
        different_columns_2.append(each_column)

KeyboardInterrupt:

Drop Rows with the Following Observations

In [165]:
different_columns

['TARGET',
 'CODE_GENDER_XNA',
 'NAME_INCOME_TYPE_Maternity leave',
 'NAME_FAMILY_STATUS_Unknown']

Inspect rows with the following Observations

In [ ]:
different_columns_2

In [162]:
pd.get_dummies(application_train).columns

Index(['SK_ID_CURR', 'TARGET', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'AMT_ANNUITY', 'AMT_GOODS_PRICE',
       'REGION_POPULATION_RELATIVE', 'DAYS_BIRTH', 'DAYS_EMPLOYED',
       ...
       'HOUSETYPE_MODE_terraced house', 'WALLSMATERIAL_MODE_Block',
       'WALLSMATERIAL_MODE_Mixed', 'WALLSMATERIAL_MODE_Monolithic',
       'WALLSMATERIAL_MODE_Others', 'WALLSMATERIAL_MODE_Panel',
       'WALLSMATERIAL_MODE_Stone, brick', 'WALLSMATERIAL_MODE_Wooden',
       'EMERGENCYSTATE_MODE_No', 'EMERGENCYSTATE_MODE_Yes'],
      dtype='object', length=246)

In [163]:
pd.get_dummies(application_test).columns

Index(['SK_ID_CURR', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL', 'AMT_CREDIT',
       'AMT_ANNUITY', 'AMT_GOODS_PRICE', 'REGION_POPULATION_RELATIVE',
       'DAYS_BIRTH', 'DAYS_EMPLOYED', 'DAYS_REGISTRATION',
       ...
       'HOUSETYPE_MODE_terraced house', 'WALLSMATERIAL_MODE_Block',
       'WALLSMATERIAL_MODE_Mixed', 'WALLSMATERIAL_MODE_Monolithic',
       'WALLSMATERIAL_MODE_Others', 'WALLSMATERIAL_MODE_Panel',
       'WALLSMATERIAL_MODE_Stone, brick', 'WALLSMATERIAL_MODE_Wooden',
       'EMERGENCYSTATE_MODE_No', 'EMERGENCYSTATE_MODE_Yes'],
      dtype='object', length=242)

In [157]:
application_train

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,351000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.018801,-9461,-637,-3648.0,-2120,NaN,1,1,0,1,1,0,Laborers,1.0,2,2,WEDNESDAY,10,0,0,0,0,0,0,Business Entity Type 3,0.083037,0.262949,0.139376,0.0247,0.0369,0.9722,0.6192,0.0143,0.00,0.0690,0.0833,0.1250,0.0369,0.0202,0.0190,0.0000,0.0000,0.0252,0.0383,0.9722,0.6341,0.0144,0.0000,0.0690,0.0833,0.1250,0.0377,0.0220,0.0198,0.0,0.0000,0.0250,0.0369,0.9722,0.6243,0.0144,0.00,0.0690,0.0833,0.1250,0.0375,0.0205,0.0193,0.0000,0.0000,reg oper account,block of flats,0.0149,"Stone, brick",No,2.0,2.0,2.0,2.0,-1134.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,1129500.0,Family,State servant,Higher education,Married,House / apartment,0.003541,-16765,-1188,-1186.0,-291,NaN,1,1,0,1,1,0,Core staff,2.0,1,1,MONDAY,11,0,0,0,0,0,0,School,0.311267,0.622246,NaN,0.0959,0.0529,0.9851,0.7960,0.0605,0.08,0.0345,0.2917,0.3333,0.0130,0.0773,0.0549,0.0039,0.0098,0.0924,0.0538,0.9851,0.8040,0.0497,0.0806,0.0345,0.2917,0.3333,0.0128,0.0790,0.0554,0.0,0.0000,0.0968,0.0529,0.9851,0.7987,0.0608,0.08,0.0345,0.2917,0.3333,0.0132,0.0787,0.0558,0.0039,0.0100,reg oper account,block of flats,0.0714,Block,No,1.0,0.0,1.0,0.0,-828.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,135000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.010032,-19046,-225,-4260.0,-2531,26.0,1,1,1,1,1,0,Laborers,1.0,2,2,MONDAY,9,0,0,0,0,0,0,Government,NaN,0.555912,0.729567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-815.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,297000.0,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,0.008019,-19005,-3039,-9833.0,-2437,NaN,1,1,0,1,0,0,Laborers,2.0,2,2,WEDNESDAY,17,0,0,0,0,0,0,Business Entity Type 3,NaN,0.650442,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0,2.0,0.0,-617.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,513000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.028663,-19932,-3038,-4311.0,-3458,NaN,1,1,0,1,0,0,Core staff,1.0,2,2,THURSDAY,11,0,0,0,0,1,1,Religion,NaN,0.322738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-1106.0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307506,456251,0,Cash loans,M,N,N,0,157500.0,254700.0,27558.0,225000.0,Unaccompanied,Working,Secondary / secondary special,Separated,With parents,0.032561,-9327,-236,-8456.0,-1982,NaN,1,1,0,1,0,0,Sales staff,1.0,1,1,THURSDAY,15,0,0,0,0,0,0,Services,0.145570,0.681632,NaN,0.2021,0.0887,0.9876,0.8300,0.0202,0.22,0.1034,0.6042,0.2708,0.0594,0.1484,0.1965,0.0753,0.1095,0.1008,0.0172,0.9782,0.7125,0.0172,0.0806,0.0345,0.4583,0.0417,0.0094,0.0882,0.0853,0.0,0.0125,0.2040,0.0887,0.9876,0.8323,0.0203,0.22,0.1034,0.6042,0.2708,0.0605,0.1509,0.2001,0.0757,0.1118,reg oper account,block of flats,0.2898,"Stone, brick",No,0.0,0.0,0.0,0.0,-273.0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307507,456252,0,Cash loans,F,N,Y,0,72000.0,269550.0,12001.5,225000.0,Unaccompanied,Pensioner,Secondary / secondary special,Widow,House / apartment,0.025164,-20775,365243,-4388.0,-4090,NaN,1,0,0,1,1,0,NaN,1.0,2,2,MONDAY,8,0,0,0,0,0,0,XNA,NaN,0.115992,NaN,0.0247,0.0435,0.9727,0.6260,0.0022,0.00,0.1034,0.0833,0.1250,0.0579,0.0202,0.0257,0.0000,0.0000,0.0252,0.0451,0.9727,0.6406,0.0022,0.0000,0.1034,0.0833,0.1250,0.0592,0.0220,0.0267,0.0,0.0000,0.0250,0.0435,0.9727,0.6310,0.0022,0.00,0.1034,0.0833,0.1250,0.0589,0.0205,0.0261,0.0000,0.0000,reg oper account,block of flats,0.0214,"Stone, brick",No,0.0,0.0,0.0,0.0,0.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307508,456253,0,Cash loans,F,N,Y,0,153000.0,677664.0,29979.0,585000.0,Unaccompanied,Working,Higher education,Separated,House / apartment,0.005002,-14966,-7921,-6737.0,-5150,NaN,1,1,0,1,0,1,Managers,1.0,3,3,THURSDAY,9,0,0,0,0,1,1,School,0.744026,0.535722,0.218859,0.1031,0.0862,0.9816,0.7484,0.0123,0.00,0.2069,0.1667,0.2083,NaN,0.0841,0.9279,0.0000,0.0000,0.1050,0.0894,0.9816,0.7583,0.0124,0.0000,0.2069,0.1667,0.2083,NaN,0.0918,0.9667,0.0,0.0000,0.1041,0.0862,0.9816,0.7518,0.0124,0.00,0.2069,0.1667,0.2083,NaN,0.0855,0.9445,0.0000,0.0000,reg oper account,block of flats,0.7970,Panel,No,6.0,0.0,6.0,0.0,-1909.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1.0,0.0,0.0,1.0,0.0,1.0
307509,456254,1,Cash loans,F,N,Y,0,171000.0,370107.0,20205.0,319500.0,Unaccompanied,Commercial associate,Secondary / secondary special,Married,House / apartment,0.005313,-11961,-4786,-2562.0,-931,NaN,1,1,0,1,0,0,Laborers,2.0,2,2,WEDNESDAY,9,0,0,0,1,1,0,Business Entity Type 1,NaN,0.514163,0.661024,0.0124,NaN,0.9771,NaN,NaN,NaN,0.0690,0.0417,NaN,NaN,NaN,0.0061,NaN,NaN,0.0126,NaN,0.9772,NaN,NaN,NaN,0.0690,0.0417,NaN,NaN,NaN,0.0063,NaN,NaN,0.0125,NaN,0.9771,NaN,NaN,NaN,0.0690,0.0417,NaN,NaN,NaN,0.0062,NaN,NaN,NaN,block of flats,0.0086,"Stone, brick",No,0.0,0.0,0.0,0.0,-322.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307510,456255,0,Cash loans,F,N,N,0,157500.0,675000.0,49117.5,675000.0,Unaccompanied,Commercial associate,Higher education,Married,House / apartment,0.046220,-16856,-1262,-5128.0,-410,NaN,1,1,1,1,1,0,Laborers,2.0,1,1,THURSDAY,20,0,0,0,0,1,1,Business Entity Type 3,0.734460,0.708569,0.113922,0.0742,0.0526,0.9881,NaN,0.0176,0.08,0.0690,0.3750,NaN,NaN,NaN,0.0791,NaN,0.0000,0.0756,0.0546,0.9881,NaN,0.0178,0.0806,0.0690,0.3750,NaN,NaN,NaN,0.0824,NaN,0.0000,0.0749,0.0526,0.9881,NaN,0.0177,0.08,0.0690,0.3750,NaN,NaN,NaN,0.0805,NaN,0.0000,NaN,block of flats,0.0718,Panel,No,0.0,0.0,0.0,0.0,-787.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,2.0,0.0,1.0

In [153]:
train_merge = second_merge_df.merge(application_train, on="SK_ID_CURR")

In [156]:
test_merge = second_merge_df.merge(application_test, on="SK_ID_CURR")
test_merge

,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,DAYS_DIFFERENCE,AMT_DIFFERENCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_INST_MIN_REGULARITY,AMT_PAYMENT_TOTAL_CURRENT,AMT_TOTAL_RECEIVABLE,CNT_INSTALMENT_MATURE_CUM,SK_DPD_DEF,AMT_DRAWINGS_TOTAL,CNT_DRAWINGS_TOTAL,COUNT,NAME_CONTRACT_STATUS_COUNT,NAME_CONTRACT_TYPE_x,AMT_ANNUITY_x,AMT_APPLICATION,AMT_CREDIT_x,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE_x,WEEKDAY_APPR_PROCESS_START_x,HOUR_APPR_PROCESS_START_x,FLAG_LAST_APPL_PER_CONTRACT,NFLAG_LAST_APPL_IN_DAY,RATE_DOWN_PAYMENT,NAME_CASH_LOAN_PURPOSE,NAME_CONTRACT_STATUS,DAYS_DECISION,NAME_PAYMENT_TYPE,CODE_REJECT_REASON,NAME_TYPE_SUITE_x,NAME_CLIENT_TYPE,NAME_GOODS_CATEGORY,NAME_PORTFOLIO,NAME_PRODUCT_TYPE,CHANNEL_TYPE,SELLERPLACE_AREA,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,NAME_CONTRACT_TYPE_y,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT_y,AMT_ANNUITY_y,AMT_GOODS_PRICE_y,NAME_TYPE_SUITE_y,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START_y,HOUR_APPR_PROCESS_START_y,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,1669153,112468,0.0,2.055556,-7.250000,34799.426250,180000.000000,1277.025000,16618.233750,34799.355000,2.583333,0.000000,59671.462500,7.166667,12.0,1,Revolving loans,9000.0,180000.0,180000.0,0.000000,180000.00,WEDNESDAY,9,Y,1,0.000000,XAP,Approved,-386,XNA,XAP,Unaccompanied,Repeater,XNA,Cards,x-sell,AP+ (Cash loan),10,XNA,0.0,XNA,Card X-Sell,Cash loans,F,Y,N,0,112500.0,573408.0,27585.0,495000.0,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,0.025164,-9991,-969,-1639.0,-2663,15.0,1,1,1,1,0,0,Sales staff,2.0,2,2,WEDNESDAY,14,0,0,0,0,0,0,Business Entity Type 3,0.254623,0.526273,0.483050,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-641.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
1,1249017,112028,0.0,3.652174,-29.250000,216153.336000,796500.000000,12285.810000,100686.420000,214485.033000,6.666667,0.000000,197536.602000,4.266667,30.0,1,Revolving loans,45000.0,0.0,900000.0,13136.538462,351750.00,MONDAY,8,Y,1,0.092154,XAP,Approved,-926,XNA,XAP,Unaccompanied,Refreshed,XNA,Cards,x-sell,AP+ (Cash loan),3,XNA,0.0,XNA,Card X-Sell,Cash loans,M,Y,N,2,135000.0,285264.0,30852.0,252000.0,Unaccompanied,Working,Higher education,Married,House / apartment,0.020713,-14297,-6941,-63.0,-4754,9.0,1,1,0,1,0,0,High skill tech staff,4.0,3,3,WEDNESDAY,8,0,0,0,1,1,0,Telecom,NaN,0.478798,0.631355,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,1.0,0.0,-2321.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,1991612,195100,0.0,3.500000,0.000000,358097.761731,450000.000000,18388.986923,20708.653846,357696.541731,12.500000,0.000000,45232.310769,5.769231,26.0,1,Revolving loans,22500.0,0.0,450000.0,302.884615,369900.00,SATURDAY,6,Y,1,0.009586,XAP,Approved,-801,XNA,XAP,Unaccompanied,Repeater,XNA,Cards,x-sell,Credit and cash offices,-1,XNA,0.0,XNA,Card X-Sell,Cash loans,M,N,Y,1,112500.0,577147.5,29596.5,459000.0,"Spouse, partner",Working,Secondary / secondary special,Married,House / apartment,0.018029,-12786,-1879,-4663.0,-1436,NaN,1,1,0,1,0,0,Core staff,3.0,3,2,TUESDAY,11,0,0,0,0,0,0,Self-employed,0.247220,0.673838,0.431192,0.2082,0.1757,0.9906,0.8708,0.1098,0.20,0.2414,0.3333,0.2500,0.1325,0.1689,0.2566,0.0039,0.0087,0.2122,0.1823,0.9906,0.8759,0.1108,0.2014,0.2414,0.3333,0.2500,0.1356,0.1846,0.2674,0.0039,0.0092,0.2103,0.1757,0.9906,0.8725,0.1105,0.20,0.2414,0.3333,0.2500,0.1348,0.1719,0.2612,0.0039,0.0089,reg oper account,block of flats,0.2637,Panel,No,2.0,0.0,2.0,0.0,-1076.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,1835377,134812,0.0,5.306122,-91.836735,166561.504773,331363.636364,11184.126136,21237.443182,166521.860284,38.965909,0.011364,34130.200909,1.204545,88.0,1,Revolving loans,13500.0,0.0,112500.0,10237.500000,102372.75,TUESDAY,13,Y,1,0.104456,XAP,Approved,-2688,XNA,XAP,Unaccompanied,Repeater,XNA,Cards,x-sell,Country-wide,1222,Consumer electronics,0.0,XNA,Card Street,Cash loans,F,N,Y,0,112500.0,568800.0,24039.0,450000.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.007305,-21129,-837,-11588.0,-4618,NaN,1,1,0,1,0,1,Security staff,2.0,3,3,TUESDAY,15,0,0,0,0,0,0,Security,NaN,0.509644,0.513694,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,0.0,4.0,0.0,-284.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,5.0
4,1589437,163385,0.0,2.303867,-124.309392,81442.811968,93351.063830,4547.872340,7757.712766,81483.934309,45.510638,0.063830,11135.106383,0.531915,94.0,1,Revolving loans,3375.0,0.0,67500.0,8032.500000,34803.00,TUESDAY,14,Y,1,0.215627,XAP,Approved,-2866,XNA,XAP,Unaccompanied,Repeater,XNA,Cards,x-sell,Country-wide,1006,Consumer electronics,0.0,XNA,Card Street,Cash loans,F,N,Y,0,112500.0,218938.5,16497.0,189000.0,Unaccompanied,Working,Higher education,Married,House / apartment,0.024610,-23294,-12111,-15722.0,-4851,NaN,1,1,0,1,0,0,Laborers,2.0,2,2,FRIDAY,11,0,0,0,0,1,1,Postal,NaN,0.720499,0.315472,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,0.0,4.0,0.0,-1505.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,1.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9162,1536508,413851,0.0,0.000000,0.000000,99.562500,0.000000,99.562500,14162.062500,0.000000,0.937500,0.000000,28125.000000,0.875000,16.0,1,Revolving loans,0.0,0.0,0.0,0.000000,0.00,MONDAY,20,Y,1,0.000000,XAP,Approved,-525,XNA,XAP,Unaccompanied,New,XNA,Cards,walk-in,Country-wide,36,Connectivity,0.0,XNA,Card Street,Cash loans,F,Y,Y,1,135000.0,601470.0,32760.0,450000.0,Unaccompanied,Commercial associate,Incomplete higher,Civil marriage,House / apartment,0.030755,-10707,-867,-733.0,-796,31.0,1,1,0,1,0,0,Sales staff,3.0,2,2,MONDAY,16,0,0,0,0,0,0,Trade: type 3,NaN,0.385224,0.382502,0.1856,0.1086,0.9955,NaN,NaN,0.16,0.0690,0.6667,NaN,0.0546,NaN,0.1785,NaN,0.0823,0.1891,0.1127,0.9955,NaN,NaN,0.1611,0.0690,0.6667,NaN,0.0558,NaN,0.1860,NaN,0.0871,0.1874,0.1086,0.9955,NaN,NaN,0.16,0.0690,0.6667,NaN,0.0555,NaN,0.1817,NaN,0.0840,NaN,block of flats,0.1583,"Stone, brick",No,0.0,0.0,0.0,0.0,-525.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
9163,2409956,448241,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,14318.181818,0.000000,0.000000,0.000000,28636.363636,0.909091,11.0,1,Revolving loans,0.0,0.0,0.0,1418.100000,0.00,WEDNESDAY,8,Y,1,0.077707,XAP,Approved,-331,XNA,XAP,Unaccompanied,Repeater,XNA,Cards,walk-in,Regional / Local,240,Consumer electronics,0.0,XNA,Card Street,Cash loans,F,N,Y,0,157500.0,218016.0,17352.0,180000.0,Unaccompanied,Working,Higher education,Married,House / apartment,0.007020,-22505,-5346,-4257.0,-4257,NaN,1,1,0,1,0,0,NaN,2.0,2,2,FRIDAY,10,0,0,0,0,0,0,School,NaN,0.454729,0.616122,0.0124,NaN,0.9762,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0106,NaN,NaN,0.0126,NaN,0.9762,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0110,NaN,NaN,0.0125,NaN,0.9762,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0108,NaN,NaN,NaN,block of flats,0.0124,NaN,Yes,1.0,0.0,1.0,0.0,0.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,1.0,3.0
9164,1887311,423133,0.0,0.000000,0.000000,12270.262500,157500.000000,0.000000,12270.262500,12270.262500,0.000000,0.000000,24540.525000,0.500000,12.0,2,Revolving loans,7875.0,157500.0,157500.0,4811.625000,157500.00,SATURDAY,12,Y,1,0.095323,XAP,Approved,-375,XNA,XAP,Unaccompanied,Refreshed,XNA,Cards,x-sell,Credit and cash offices,-1,XNA,0.0,XNA,Card X-Sell,Cash loans,F,Y,Y,0,153000.0,405000.0,32125.5,405000.0,Unaccompanied,Working,Higher education,Separated,House / apartment,0.026392,-11190,-1882,-1085.0,-3885,11.0,1,1,0,1,0,0,Sales staff,1.0,2,2,WEDNESDAY,16,0,0,0,0,0,0,Business Entity Type 3,0.323780,0.692530,0.657784,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-375.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
9165,2396818,445165,0.0,0.000000,0.000000,1165.860000,337500.000000,0.000000,2374.500000,1165.860000,0.000000,0.000000,7080.720000,0.933333,15.0,1,Revolving loans,16875.0,337500.0,337500.0,7200.000000,337500.00,MONDAY,13,Y,1,0.065630,XAP,Approved,-449,XNA,XAP,Family,Repeater,XNA,Cards,x-sell,Credit and cash offices,-1,XNA,0.0,XNA,Card X-Sell,Cash loans,M,N,Y,2,157500.0,285723.0,22239.0,238500.0,Family,Working,Higher education,Married,House / apartment,0.031329,-12467,-5296,-5592.0,-4439,NaN,1,1,0,1,0,0,Laborers,4.0,2,2,TUESDAY,12,0,0,0,0,0,0,Business Entity Type 2,0.217004,0.644071,0.825636,NaN,0.1469,0.9762,NaN,NaN,NaN,0.2759,0.1667,NaN,NaN,NaN,0.1087,NaN,NaN,NaN,0.1525,0.9762,NaN,NaN,NaN,0.2759,0.1667,NaN,NaN,NaN,0.1133,NaN,NaN,NaN,0.1469,0.9762,NaN,NaN,NaN,0.2759,0.1667,NaN,NaN,NaN,0.1107,NaN,NaN,NaN,NaN,0.1029,Panel,No,0.0,0.0,0.0,0.0,-2723.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
9166,1683621,430213,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,40909.090909,0.000000,0.000000,0.000000,81818.181818,3.636364,11.0,1,Revolving loans,0.0,0.0,0.0,0.000000,0.00,FRIDAY,11,Y,1,0.000000,XAP,Approved,-361,XNA,XAP,Unaccompanied,Repeater,XNA,Cards,walk-in,Country-wide,300,Consumer electronics,0.0,XNA,Card Street,Cash loans,F,N,N,1,157500.0,900000.0,45954.0,900000.0,Unaccompanied,State servant,Higher education,Married,House / apartment,0.046220,-13280,-865,-1400.0,-5376,NaN,1,1,1,1,0,0,Core staff,3.0,1,1,SATURDAY,10,0,0,0,0,1,1,Kindergarten,0.548356,0.617727,0.602386,0.0330,0.0294,0.9727,0.6260,0.0132,0.00,0.0690,0.1250,0.1667,0.0245,0.0269,0.0169,0.0000,0.0000,0.0336,0.0305,0.9727,0.6406,0.0133,0.0000,0.0690,0.1250,0.1667,0.0250,0.0294,0.0176,0.0000,0.0000,0.0333,0.0294,0.9727,0.6310,0.0133,0.00,0.0690,0.1250,0.1667,0.0249,0.0274,0.0172,0.0000,0.0000,reg oper account,block of flats,0.0205,"Stone, brick",No,0.0,0.0,0.0,0.0,-908.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0

In [154]:
train_merge

,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,DAYS_DIFFERENCE,AMT_DIFFERENCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_INST_MIN_REGULARITY,AMT_PAYMENT_TOTAL_CURRENT,AMT_TOTAL_RECEIVABLE,CNT_INSTALMENT_MATURE_CUM,SK_DPD_DEF,AMT_DRAWINGS_TOTAL,CNT_DRAWINGS_TOTAL,COUNT,NAME_CONTRACT_STATUS_COUNT,NAME_CONTRACT_TYPE_x,AMT_ANNUITY_x,AMT_APPLICATION,AMT_CREDIT_x,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE_x,WEEKDAY_APPR_PROCESS_START_x,HOUR_APPR_PROCESS_START_x,FLAG_LAST_APPL_PER_CONTRACT,NFLAG_LAST_APPL_IN_DAY,RATE_DOWN_PAYMENT,NAME_CASH_LOAN_PURPOSE,NAME_CONTRACT_STATUS,DAYS_DECISION,NAME_PAYMENT_TYPE,CODE_REJECT_REASON,NAME_TYPE_SUITE_x,NAME_CLIENT_TYPE,NAME_GOODS_CATEGORY,NAME_PORTFOLIO,NAME_PRODUCT_TYPE,CHANNEL_TYPE,SELLERPLACE_AREA,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,TARGET,NAME_CONTRACT_TYPE_y,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT_y,AMT_ANNUITY_y,AMT_GOODS_PRICE_y,NAME_TYPE_SUITE_y,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START_y,HOUR_APPR_PROCESS_START_y,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,2723183,112102,0.0,5.480000,0.000000,263745.031154,270000.000000,11401.186154,50.015769,263498.126538,5.076923,0.000000,46927.052308,1.230769,13.0,1,Revolving loans,13500.0,270000.0,270000.0,7587.000000,270000.000000,TUESDAY,17,Y,1,0.040841,XAP,Approved,-414,XNA,XAP,Unaccompanied,Refreshed,XNA,Cards,x-sell,Credit and cash offices,-1,XNA,0.0,XNA,Card X-Sell,0,Cash loans,M,Y,N,2,234000.0,1494486.0,41224.5,1305000.0,Unaccompanied,State servant,Secondary / secondary special,Married,Rented apartment,0.030755,-15904,-8011,-677.0,-4256,2.0,1,1,0,1,0,0,Core staff,4.0,2,2,WEDNESDAY,9,0,0,0,1,1,0,Police,NaN,0.767049,0.719491,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-2108.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,4.0
1,1570206,147645,0.0,0.257143,-649.559571,421228.420714,450000.000000,20638.197000,21384.986143,419412.789000,17.000000,0.142857,41961.600000,3.142857,35.0,1,Revolving loans,22500.0,0.0,450000.0,0.000000,262588.235294,THURSDAY,14,Y,1,0.000000,XAP,Approved,-1073,XNA,XAP,Unaccompanied,Repeater,XNA,Cards,x-sell,Contact center,-1,XNA,0.0,XNA,Card X-Sell,0,Cash loans,F,N,N,2,108000.0,450000.0,21649.5,450000.0,Unaccompanied,Working,Higher education,Married,House / apartment,0.030755,-13638,-3342,-5549.0,-1506,NaN,1,1,0,1,0,0,Laborers,4.0,2,2,FRIDAY,18,0,0,0,0,1,1,Industry: type 3,NaN,0.108729,0.562060,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-1386.0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,1.0,0.0,2.0
2,1594684,100193,0.0,1.064516,0.000000,1845.862412,11117.647059,207.731118,786.176471,1817.250353,4.823529,0.000000,1408.129412,0.023529,85.0,1,Revolving loans,4410.0,80995.5,63000.0,21150.000000,80995.500000,TUESDAY,13,Y,1,0.273729,XAP,Approved,-2589,XNA,XAP,Unaccompanied,Refreshed,Consumer Electronics,Cards,x-sell,Country-wide,1307,Consumer electronics,0.0,XNA,Card Street,0,Cash loans,F,Y,N,0,225000.0,296280.0,15124.5,225000.0,Unaccompanied,Commercial associate,Secondary / secondary special,Separated,House / apartment,0.020246,-17879,-940,-2294.0,-1441,15.0,1,1,1,1,0,0,NaN,1.0,3,3,SUNDAY,15,0,0,0,0,0,0,Other,0.731105,0.748854,0.508287,0.1546,0.084,0.9776,0.6940,0.0190,0.0,0.1034,0.1667,0.2083,0.0149,0.1261,0.0568,0.0,0.0,0.1576,0.0871,0.9777,0.7060,0.0191,0.0,0.1034,0.1667,0.2083,0.0153,0.1377,0.0591,0.0,0.0,0.1561,0.084,0.9776,0.6981,0.0191,0.0,0.1034,0.1667,0.2083,0.0152,0.1283,0.0578,0.0,0.0,reg oper account,block of flats,0.0550,"Stone, brick",No,1.0,0.0,1.0,0.0,-2553.0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,1.0,1.0,6.0
3,2391610,183431,0.0,10.653846,0.000000,200233.508684,219078.947368,10406.872303,13774.500000,199434.361382,36.434211,0.013158,19936.421053,1.552632,76.0,2,Revolving loans,7875.0,0.0,157500.0,0.000000,400386.281400,WEDNESDAY,19,Y,1,0.000000,XAP,Approved,-2289,XNA,XAP,Unaccompanied,Repeater,XNA,Cards,x-sell,Contact center,-1,XNA,0.0,XNA,Card X-Sell,0,Cash loans,F,N,Y,0,135000.0,832500.0,24471.0,832500.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.028663,-19844,-2440,-11005.0,-3387,NaN,1,1,0,1,0,0,Laborers,2.0,2,2,WEDNESDAY,15,0,0,0,0,0,0,Self-employed,NaN,0.755236,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,3.0,5.0,2.0,-1852.0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,4.0
4,2270983,159586,0.0,1.125000,-346.153846,86122.915372,149361.702128,5312.731596,8926.755319,86129.758245,35.425532,0.223404,11738.297872,0.446809,94.0,2,Revolving loans,9000.0,0.0,67500.0,3028.846154,76226.413846,TUESDAY,11,Y,1,0.042404,XAP,Approved,-2853,XNA,XAP,Unaccompanied,Repeater,XNA,Cards,x-sell,Contact center,-1,XNA,0.0,XNA,Card Street,0,Cash loans,F,N,Y,1,121500.0,1005120.0,29520.0,720000.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.007305,-17297,-3482,-6802.0,-823,NaN,1,1,0,1,1,0,Laborers,3.0,3,3,SATURDAY,10,0,0,0,0,0,0,Industry: type 9,NaN,0.457257,0.347418,0.0165,0.000,0.9806,0.7348,0.0014,0.0,0.0690,0.0417,0.0417,0.0190,0.0134,0.0145,0.0,0.0,0.0168,0.0000,0.9806,0.7452,0.0014,0.0,0.0690,0.0417,0.0417,0.0194,0.0147,0.0151,0.0,0.0,0.0167,0.000,0.9806,0.7383,0.0014,0.0,0.0690,0.0417,0.0417,0.0193,0.0137,0.0148,0.0,0.0,reg oper account,block of flats,0.0122,"Stone, brick",No,2.0,1.0,2.0,1.0,-1284.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53095,2001970,404395,0.0,0.000000,0.000000,0.000000,270000.000000,0.000000,150.000000,0.000000,0.000000,0.000000,150.000000,0.000000,15.0,1,Revolving loans,33750.0,0.0,675000.0,6511.500000,73152.000000,SATURDAY,14,Y,1,0.108932,XAP,Approved,-466,XNA,XAP,Unaccompanied,Repeater,XNA,Cards,x-sell,Country-wide,1552,Consumer electronics,0.0,XNA,Card X-Sell,0,Cash loans,M,N,N,0,175500.0,679500.0,22585.5,679500.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.010500,-13777,-2252,-1184.0,-4370,NaN,1,1,1,1,1,0,Laborers,2.0,3,3,SUNDAY,11,0,0,0,0,0,0,Self-employed,0.482768,0.631687,0.706205,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-1355.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
53096,1982325,437333,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,32500.000000,0.000000,0.000000,0.000000,65000.000000,0.444444,9.0,2,Revolving loans,0.0,0.0,0.0,0.000000,0.000000,FRIDAY,10,Y,1,0.000000,XAP,Approved,-297,XNA,XAP,Unaccompanied,Repeater,XNA,Cards,walk-in,Country-wide,533,Consumer electronics,0.0,XNA,Card Street,0,Revolving loans,F,N,Y,0,112500.0,292500.0,14625.0,292500.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.007114,-17097,-1709,-7065.0,-640,NaN,1,1,0,1,0,0,Sales staff,2.0,2,2,MONDAY,16,0,0,0,0,0,0,Self-employed,NaN,0.643168,0.158555,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.0,0.0,14.0,0.0,-1331.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,1.0,0.0,9.0
53097,2305961,408738,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,120000.000000,0.000000,0.000000,0.000000,120000.000000,0.000000,3.0,1,Revolving loans,0.0,0.0,0.0,5944.500000,0.000000,THURSDAY,7,Y,1,0.099456,XAP,Approved,-113,XNA,XAP,Unaccompanied,Refreshed,XNA,Cards,walk-in,Stone,270,Consumer electronics,0.0,XNA,Card Street,0,Cash loans,F,Y,Y,1,125910.0,339948.0,23656.5,315000.0,Unaccompanied,Pensioner,Secondary / secondary special,Married,House / apartment,0.018801,-19502,365243,-3039.0,-3041,7.0,1,0,0,1,1,0,NaN,3.0,2,2,FRIDAY,9,0,0,0,0,0,0,XNA,0.413263,0.555777,0.574447,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-1325.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
53098,1538868,424735,0.0,0.000000,0.000000,0.000000,675000.000000,0.000000,9.000000,0.000000,0.000000,0.000000,18.000000,1.000000,2.0,1,Revolving loans,33750.0,675000.0,675000.0,0.000000,675000.000000,THURSDAY,13,Y,1,0.000000,XAP,Approved,-96,XNA,XAP,Unaccompanied,Repeater,XNA,Cards,x-sell,Credit and cash offices,-1,XNA,0.0,XNA,Card X-Sell,0,Cash loans,F,N,Y,0,121050.0,112500.0,7569.0,112500.0,Unaccompanied,Pensioner,Lower secondary,Married,House / apartment,0.022800,-22503,365243,-831.0,-4589,NaN,1,0,0,1,0,0,NaN,2.0,2,2,TUESDAY,11,0,0,0,0,0,0,XNA,NaN,0.430023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0,2.0,0.0,-399.0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
53099,2238539,430291,0.0,0.000000,0.000000,0.000000,135000.000000,0.000000,1070.357143,0.000000,0.000000,0.000000,1070.357143,0.000000,7.0,1,Revolving loans,2250.0,45000.0,45000.0,3377.205000,45000.000000,THURSDAY,17,Y,1,0.160063,XAP,Approved,-208,XNA,XAP,Unaccompanied,Refreshed,XNA,Cards,walk-in,Country-wide,27,Connectivity,0.0,XNA,Card Street,1,Cash loans,F,N,N,1,157500.0,835380.0,40320.0,675000.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.010147,-13760,-255,-1074.0,-4716,NaN,1,1,0,1,0,0,Low-skill Laborers,3.0,2,2,TUESDAY,17,0,0,0,0,1,1,Other,0.426705,0.529276,0.681706,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,0.0,5.0,0.0,-1833.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

# Exploring First Merge

## Compress Columns: Engineering

DAYS_DIFFERENCE
* If entry payment has larger abs, then paid on time
* If negative, how many days late

AMT_DIFFERECE 
* If negative, then they did not fully pay the installment they were supposed to

In [6]:
installments_payments["DAYS_DIFFERENCE"] = installments_payments.DAYS_INSTALMENT - installments_payments.DAYS_ENTRY_PAYMENT
installments_payments["AMT_DIFFERENCE"] = installments_payments.AMT_PAYMENT - installments_payments.AMT_INSTALMENT

In [7]:
installments_payments.drop(columns=["NUM_INSTALMENT_NUMBER", "DAYS_INSTALMENT", "DAYS_ENTRY_PAYMENT", "AMT_INSTALMENT", "AMT_PAYMENT"],inplace= True)
installments_payments.dropna(inplace=True)

In [11]:
installments_payments.NUM_INSTALMENT_VERSION = installments_payments.groupby(["SK_ID_PREV","SK_ID_CURR"]).NUM_INSTALMENT_VERSION.transform(lambda x: x.median())
installments_payments.DAYS_DIFFERENCE = installments_payments.groupby(["SK_ID_PREV","SK_ID_CURR"]).DAYS_DIFFERENCE.transform(lambda x: x.mean())
installments_payments.AMT_DIFFERENCE = installments_payments.groupby(["SK_ID_PREV","SK_ID_CURR"]).AMT_DIFFERENCE.transform(lambda x: x.mean())

In [12]:
installments_payments.drop_duplicates(inplace=True)

## First Merge

In [ ]:
def merge_data(df_example):
    first_merge_df = installments_payments.merge(credit_card_balance, on=["SK_ID_PREV", "SK_ID_CURR"])

In [15]:
first_merge_df = installments_payments.merge(credit_card_balance, on=["SK_ID_PREV", "SK_ID_CURR"])
first_merge_df.shape

(3162221, 26)

In [18]:
second_merge_df = first_merge_df.merge(previous_application, on=["SK_ID_PREV", "SK_ID_CURR"])
second_merge_df.shape

(2189224, 61)

In [21]:
third_merge_df = second_merge_df.merge(application_train, on="SK_ID_CURR")
third_merge_df.shape

(1896355, 182)

NOTE: Opportuntiies to also merge POS_CASH_balance and Bureau

In [33]:
# bureau_df = bureau_balance.merge(bureau, on="SK_ID_BUREAU")
# bureau_df.groupby("SK_ID_BUREAU").STATUS.count().reset_index().sort_values(by="STATUS")
# MERGE BREAKS: third_merge_df.merge(bureau_df, on="SK_ID_CURR")

# Early Model

In [25]:
third_merge_df.select_dtypes(include="object").columns

Index(['NAME_CONTRACT_STATUS_x', 'NAME_CONTRACT_TYPE_x',
       'WEEKDAY_APPR_PROCESS_START_x', 'FLAG_LAST_APPL_PER_CONTRACT',
       'NAME_CASH_LOAN_PURPOSE', 'NAME_CONTRACT_STATUS_y', 'NAME_PAYMENT_TYPE',
       'CODE_REJECT_REASON', 'NAME_TYPE_SUITE_x', 'NAME_CLIENT_TYPE',
       'NAME_GOODS_CATEGORY', 'NAME_PORTFOLIO', 'NAME_PRODUCT_TYPE',
       'CHANNEL_TYPE', 'NAME_SELLER_INDUSTRY', 'NAME_YIELD_GROUP',
       'PRODUCT_COMBINATION', 'NAME_CONTRACT_TYPE_y', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'NAME_TYPE_SUITE_y',
       'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS',
       'NAME_HOUSING_TYPE', 'OCCUPATION_TYPE', 'WEEKDAY_APPR_PROCESS_START_y',
       'ORGANIZATION_TYPE', 'FONDKAPREMONT_MODE', 'HOUSETYPE_MODE',
       'WALLSMATERIAL_MODE', 'EMERGENCYSTATE_MODE'],
      dtype='object')

In [30]:
third_merge_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1896355 entries, 0 to 1896354
Data columns (total 182 columns):
 #    Column                        Dtype
---   ------                        -----
 0    SK_ID_PREV                    int64
 1    SK_ID_CURR                    int64
 2    NUM_INSTALMENT_VERSION        float64
 3    DAYS_DIFFERENCE               float64
 4    AMT_DIFFERENCE                float64
 5    MONTHS_BALANCE                int64
 6    AMT_BALANCE                   float64
 7    AMT_CREDIT_LIMIT_ACTUAL       int64
 8    AMT_DRAWINGS_ATM_CURRENT      float64
 9    AMT_DRAWINGS_CURRENT          float64
 10   AMT_DRAWINGS_OTHER_CURRENT    float64
 11   AMT_DRAWINGS_POS_CURRENT      float64
 12   AMT_INST_MIN_REGULARITY       float64
 13   AMT_PAYMENT_CURRENT           float64
 14   AMT_PAYMENT_TOTAL_CURRENT     float64
 15   AMT_RECEIVABLE_PRINCIPAL      float64
 16   AMT_RECIVABLE                 float64
 17   AMT_TOTAL_RECEIVABLE          float64
 18   CNT_DRAWINGS_ATM_CURRENT      float64
 19   CNT_DRAWINGS_CURRENT          int64
 20   CNT_DRAWINGS_OTHER_CURRENT    float64
 21   CNT_DRAWINGS_POS_CURRENT      float64
 22   CNT_INSTALMENT_MATURE_CUM     float64
 23   NAME_CONTRACT_STATUS_x        object
 24   SK_DPD                        int64
 25   SK_DPD_DEF                    int64
 26   NAME_CONTRACT_TYPE_x          object
 27   AMT_ANNUITY_x                 float64
 28   AMT_APPLICATION               float64
 29   AMT_CREDIT_x                  float64
 30   AMT_DOWN_PAYMENT              float64
 31   AMT_GOODS_PRICE_x             float64
 32   WEEKDAY_APPR_PROCESS_START_x  object
 33   HOUR_APPR_PROCESS_START_x     int64
 34   FLAG_LAST_APPL_PER_CONTRACT   object
 35   NFLAG_LAST_APPL_IN_DAY        int64
 36   RATE_DOWN_PAYMENT             float64
 37   RATE_INTEREST_PRIMARY         float64
 38   RATE_INTEREST_PRIVILEGED      float64
 39   NAME_CASH_LOAN_PURPOSE        object
 40   NAME_CONTRACT_STATUS_y        object
 41   DAYS_DECISION                 int64
 42   NAME_PAYMENT_TYPE             object
 43   CODE_REJECT_REASON            object
 44   NAME_TYPE_SUITE_x             object
 45   NAME_CLIENT_TYPE              object
 46   NAME_GOODS_CATEGORY           object
 47   NAME_PORTFOLIO                object
 48   NAME_PRODUCT_TYPE             object
 49   CHANNEL_TYPE                  object
 50   SELLERPLACE_AREA              int64
 51   NAME_SELLER_INDUSTRY          object
 52   CNT_PAYMENT                   float64
 53   NAME_YIELD_GROUP              object
 54   PRODUCT_COMBINATION           object
 55   DAYS_FIRST_DRAWING            float64
 56   DAYS_FIRST_DUE                float64
 57   DAYS_LAST_DUE_1ST_VERSION     float64
 58   DAYS_LAST_DUE                 float64
 59   DAYS_TERMINATION              float64
 60   NFLAG_INSURED_ON_APPROVAL     float64
 61   TARGET                        int64
 62   NAME_CONTRACT_TYPE_y          object
 63   CODE_GENDER                   object
 64   FLAG_OWN_CAR                  object
 65   FLAG_OWN_REALTY               object
 66   CNT_CHILDREN                  int64
 67   AMT_INCOME_TOTAL              float64
 68   AMT_CREDIT_y                  float64
 69   AMT_ANNUITY_y                 float64
 70   AMT_GOODS_PRICE_y             float64
 71   NAME_TYPE_SUITE_y             object
 72   NAME_INCOME_TYPE              object
 73   NAME_EDUCATION_TYPE           object
 74   NAME_FAMILY_STATUS            object
 75   NAME_HOUSING_TYPE             object
 76   REGION_POPULATION_RELATIVE    float64
 77   DAYS_BIRTH                    int64
 78   DAYS_EMPLOYED                 int64
 79   DAYS_REGISTRATION             float64
 80   DAYS_ID_PUBLISH               int64
 81   OWN_CAR_AGE                   float64
 82   FLAG_MOBIL                    int64
 83   FLAG_EMP_PHONE                int64
 84   FLAG_WORK_PHONE               int64
 85   FLAG_CONT_MOBILE              int64
 86   FLAG_PHONE                    int64
 87   FLAG_EMAIL                    int64
 88   OCCUPATION_TYPE               object
 89   CNT_FAM_MEMBERS               float64
 90   REGION_RATING_CLIENT          int64
 91   REGION_RATING_CLIENT_W_CITY   int64
 92   WEEKDAY_APPR_PROCESS_START_y  object
 93   HOUR_APPR_PROCESS_START_y     int64
 94   REG_REGION_NOT_LIVE_REGION    int64
 95   REG_REGION_NOT_WORK_REGION    int64
 96   LIVE_REGION_NOT_WORK_REGION   int64
 97   REG_CITY_NOT_LIVE_CITY        int64
 98   REG_CITY_NOT_WORK_CITY        int64
 99   LIVE_CITY_NOT_WORK_CITY       int64
 100  ORGANIZATION_TYPE             object
 101  EXT_SOURCE_1                  float64
 102  EXT_SOURCE_2                  float64
 103  EXT_SOURCE_3                  float64
 104  APARTMENTS_AVG                float64
 105  BASEMENTAREA_AVG              float64
 106  YEARS_BEGINEXPLUATATION_AVG   float64
 107  YEARS_BUILD_AVG               float64
 108  COMMONAREA_AVG                float64
 109  ELEVATORS_AVG                 float64
 110  ENTRANCES_AVG                 float64
 111  FLOORSMAX_AVG                 float64
 112  FLOORSMIN_AVG                 float64
 113  LANDAREA_AVG                  float64
 114  LIVINGAPARTMENTS_AVG          float64
 115  LIVINGAREA_AVG                float64
 116  NONLIVINGAPARTMENTS_AVG       float64
 117  NONLIVINGAREA_AVG             float64
 118  APARTMENTS_MODE               float64
 119  BASEMENTAREA_MODE             float64
 120  YEARS_BEGINEXPLUATATION_MODE  float64
 121  YEARS_BUILD_MODE              float64
 122  COMMONAREA_MODE               float64
 123  ELEVATORS_MODE                float64
 124  ENTRANCES_MODE                float64
 125  FLOORSMAX_MODE                float64
 126  FLOORSMIN_MODE                float64
 127  LANDAREA_MODE                 float64
 128  LIVINGAPARTMENTS_MODE         float64
 129  LIVINGAREA_MODE               float64
 130  NONLIVINGAPARTMENTS_MODE      float64
 131  NONLIVINGAREA_MODE            float64
 132  APARTMENTS_MEDI               float64
 133  BASEMENTAREA_MEDI             float64
 134  YEARS_BEGINEXPLUATATION_MEDI  float64
 135  YEARS_BUILD_MEDI              float64
 136  COMMONAREA_MEDI               float64
 137  ELEVATORS_MEDI                float64
 138  ENTRANCES_MEDI                float64
 139  FLOORSMAX_MEDI                float64
 140  FLOORSMIN_MEDI                float64
 141  LANDAREA_MEDI                 float64
 142  LIVINGAPARTMENTS_MEDI         float64
 143  LIVINGAREA_MEDI               float64
 144  NONLIVINGAPARTMENTS_MEDI      float64
 145  NONLIVINGAREA_MEDI            float64
 146  FONDKAPREMONT_MODE            object
 147  HOUSETYPE_MODE                object
 148  TOTALAREA_MODE                float64
 149  WALLSMATERIAL_MODE            object
 150  EMERGENCYSTATE_MODE           object
 151  OBS_30_CNT_SOCIAL_CIRCLE      float64
 152  DEF_30_CNT_SOCIAL_CIRCLE      float64
 153  OBS_60_CNT_SOCIAL_CIRCLE      float64
 154  DEF_60_CNT_SOCIAL_CIRCLE      float64
 155  DAYS_LAST_PHONE_CHANGE        float64
 156  FLAG_DOCUMENT_2               int64
 157  FLAG_DOCUMENT_3               int64
 158  FLAG_DOCUMENT_4               int64
 159  FLAG_DOCUMENT_5               int64
 160  FLAG_DOCUMENT_6               int64
 161  FLAG_DOCUMENT_7               int64
 162  FLAG_DOCUMENT_8               int64
 163  FLAG_DOCUMENT_9               int64
 164  FLAG_DOCUMENT_10              int64
 165  FLAG_DOCUMENT_11              int64
 166  FLAG_DOCUMENT_12              int64
 167  FLAG_DOCUMENT_13              int64
 168  FLAG_DOCUMENT_14              int64
 169  FLAG_DOCUMENT_15              int64
 170  FLAG_DOCUMENT_16              int64
 171  FLAG_DOCUMENT_17              int64
 172  FLAG_DOCUMENT_18              int64
 173  FLAG_DOCUMENT_19              int64
 174  FLAG_DOCUMENT_20              int64
 175  FLAG_DOCUMENT_21              int64
 176  AMT_REQ_CREDIT_BUREAU_HOUR    float64
 177  AMT_REQ_CREDIT_BUREAU_DAY     float64
 178  AMT_REQ_CREDIT_BUREAU_WEEK    float64
 179  AMT_REQ_CREDIT_BUREAU_MON     float64
 180  AMT_REQ_CREDIT_BUREAU_QRT     float64
 181  AMT_REQ_CREDIT_BUREAU_YEAR    float64
dtypes: float64(98), int64(51), object(33)
memory usage: 2.6+ GB

In [55]:
df_train = pd.get_dummies(third_merge_df).fillna(0)

Dropping below columns for the entry to be on the same dimension as test

In [ ]:
X_train.dropcolumns_to_drop_for_test

In [83]:
df_train

,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,DAYS_DIFFERENCE,AMT_DIFFERENCE,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,AMT_PAYMENT_CURRENT,AMT_PAYMENT_TOTAL_CURRENT,AMT_RECEIVABLE_PRINCIPAL,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,SK_DPD,SK_DPD_DEF,AMT_ANNUITY_x,AMT_APPLICATION,AMT_CREDIT_x,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE_x,HOUR_APPR_PROCESS_START_x,NFLAG_LAST_APPL_IN_DAY,RATE_DOWN_PAYMENT,RATE_INTEREST_PRIMARY,RATE_INTEREST_PRIVILEGED,DAYS_DECISION,SELLERPLACE_AREA,CNT_PAYMENT,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT_y,AMT_ANNUITY_y,AMT_GOODS_PRICE_y,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,HOUR_APPR_PROCESS_START_y,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,TOTALAREA_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,NAME_CONTRACT_STATUS_x_Active,...,CHANNEL_TYPE_Regional / Local,CHANNEL_TYPE_Stone,NAME_SELLER_INDUSTRY_Auto technology,NAME_SELLER_INDUSTRY_Clothing,NAME_SELLER_INDUSTRY_Connectivity,NAME_SELLER_INDUSTRY_Construction,NAME_SELLER_INDUSTRY_Consumer electronics,NAME_SELLER_INDUSTRY_Furniture,NAME_SELLER_INDUSTRY_Industry,NAME_SELLER_INDUSTRY_Jewelry,NAME_SELLER_INDUSTRY_MLM partners,NAME_SELLER_INDUSTRY_XNA,NAME_YIELD_GROUP_XNA,PRODUCT_COMBINATION_Card Street,PRODUCT_COMBINATION_Card X-Sell,NAME_CONTRACT_TYPE_y_Cash loans,NAME_CONTRACT_TYPE_y_Revolving loans,CODE_GENDER_F,CODE_GENDER_M,FLAG_OWN_CAR_N,FLAG_OWN_CAR_Y,FLAG_OWN_REALTY_N,FLAG_OWN_REALTY_Y,NAME_TYPE_SUITE_y_Children,NAME_TYPE_SUITE_y_Family,NAME_TYPE_SUITE_y_Group of people,NAME_TYPE_SUITE_y_Other_A,NAME_TYPE_SUITE_y_Other_B,"NAME_TYPE_SUITE_y_Spouse, partner",NAME_TYPE_SUITE_y_Unaccompanied,NAME_INCOME_TYPE_Commercial associate,NAME_INCOME_TYPE_Pensioner,NAME_INCOME_TYPE_State servant,NAME_INCOME_TYPE_Unemployed,NAME_INCOME_TYPE_Working,NAME_EDUCATION_TYPE_Academic degree,NAME_EDUCATION_TYPE_Higher education,NAME_EDUCATION_TYPE_Incomplete higher,NAME_EDUCATION_TYPE_Lower secondary,NAME_EDUCATION_TYPE_Secondary / secondary special,NAME_FAMILY_STATUS_Civil marriage,NAME_FAMILY_STATUS_Married,NAME_FAMILY_STATUS_Separated,NAME_FAMILY_STATUS_Single / not married,NAME_FAMILY_STATUS_Widow,NAME_HOUSING_TYPE_Co-op apartment,NAME_HOUSING_TYPE_House / apartment,NAME_HOUSING_TYPE_Municipal apartment,NAME_HOUSING_TYPE_Office apartment,NAME_HOUSING_TYPE_Rented apartment,NAME_HOUSING_TYPE_With parents,OCCUPATION_TYPE_Accountants,OCCUPATION_TYPE_Cleaning staff,OCCUPATION_TYPE_Cooking staff,OCCUPATION_TYPE_Core staff,OCCUPATION_TYPE_Drivers,OCCUPATION_TYPE_HR staff,OCCUPATION_TYPE_High skill tech staff,OCCUPATION_TYPE_IT staff,OCCUPATION_TYPE_Laborers,OCCUPATION_TYPE_Low-skill Laborers,OCCUPATION_TYPE_Managers,OCCUPATION_TYPE_Medicine staff,OCCUPATION_TYPE_Private service staff,OCCUPATION_TYPE_Realty agents,OCCUPATION_TYPE_Sales staff,OCCUPATION_TYPE_Secretaries,OCCUPATION_TYPE_Security staff,OCCUPATION_TYPE_Waiters/barmen staff,WEEKDAY_APPR_PROCESS_START_y_FRIDAY,WEEKDAY_APPR_PROCESS_START_y_MONDAY,WEEKDAY_APPR_PROCESS_START_y_SATURDAY,WEEKDAY_APPR_PROCESS_START_y_SUNDAY,WEEKDAY_APPR_PROCESS_START_y_THURSDAY,WEEKDAY_APPR_PROCESS_START_y_TUESDAY,WEEKDAY_APPR_PROCESS_START_y_WEDNESDAY,ORGANIZATION_TYPE_Advertising,ORGANIZATION_TYPE_Agriculture,ORGANIZATION_TYPE_Bank,ORGANIZATION_TYPE_Business Entity Type 1,ORGANIZATION_TYPE_Business Entity Type 2,ORGANIZATION_TYPE_Business Entity Type 3,ORGANIZATION_TYPE_Cleaning,ORGANIZATION_TYPE_Construction,ORGANIZATION_TYPE_Culture,ORGANIZATION_TYPE_Electricity,ORGANIZATION_TYPE_Emergency,ORGANIZATION_TYPE_Government,ORGANIZATION_TYPE_Hotel,ORGANIZATION_TYPE_Housing,ORGANIZATION_TYPE_Industry: type 1,ORGANIZATION_TYPE_Industry: type 10,ORGANIZATION_TYPE_Industry: type 11,ORGANIZATION_TYPE_Industry: type 12,ORGANIZATION_TYPE_Industry: type 13,ORGANIZATION_TYPE_Industry: type 2,ORGANIZATION_TYPE_Industry: type 3,ORGANIZATION_TYPE_Industry: type 4,ORGANIZATION_TYPE_Industry: type 5,ORGANIZATION_TYPE_Industry: type 6,ORGANIZATION_TYPE_Industry: type 7,ORGANIZATION_TYPE_Industry: type 8,ORGANIZATION_TYPE_Industry: type 9,ORGANIZATION_TYPE_Insurance,ORGANIZATION_TYPE_Kindergarten,ORGANIZATION_TYPE_Legal Services,ORGANIZATION_TYPE_Medicine,ORGANIZATION_TYPE_Military,ORGANIZATION_TYPE_Mobile,ORGANIZATION_TYPE_Other,ORGANIZATION_TYPE_Police,ORGANIZATION_TYPE_Postal,ORGANIZATION_TYPE_Realtor,ORGANIZATION_TYPE_Religion,ORGANIZATION_TYPE_Restaurant,ORGANIZATION_TYPE_School,ORGANIZATION_TYPE_Security,ORGANIZATION_TYPE_Security Ministries,ORGANIZATION_TYPE_Self-employed,ORGANIZATION_TYPE_Services,ORGANIZATION_TYPE_Telecom,ORGANIZATION_TYPE_Trade: type 1,ORGANIZATION_TYPE_Trade: type 2,ORGANIZATION_TYPE_Trade: type 3,ORGANIZATION_TYPE_Trade: type 4,ORGANIZATION_TYPE_Trade: type 5,ORGANIZATION_TYPE_Trade: type 6,ORGANIZATION_TYPE_Trade: type 7,ORGANIZATION_TYPE_Transport: type 1,ORGANIZATION_TYPE_Transport: type 2,ORGANIZATION_TYPE_Transport: type 3,ORGANIZATION_TYPE_Transport: type 4,ORGANIZATION_TYPE_University,ORGANIZATION_TYPE_XNA,FONDKAPREMONT_MODE_not specified,FONDKAPREMONT_MODE_org spec account,FONDKAPREMONT_MODE_reg oper account,FONDKAPREMONT_MODE_reg oper spec account,HOUSETYPE_MODE_block of flats,HOUSETYPE_MODE_specific housing,HOUSETYPE_MODE_terraced house,WALLSMATERIAL_MODE_Block,WALLSMATERIAL_MODE_Mixed,WALLSMATERIAL_MODE_Monolithic,WALLSMATERIAL_MODE_Others,WALLSMATERIAL_MODE_Panel,"WALLSMATERIAL_MODE_Stone, brick",WALLSMATERIAL_MODE_Wooden,EMERGENCYSTATE_MODE_No,EMERGENCYSTATE_MODE_Yes
0,2723183,112102,0.0,5.48,0.0,-2,253491.345,270000,0.0,0.00,0.0,0.00,14063.265,13950.0,95.625,249187.635,253491.345,253491.345,0.0,0,0.0,0.0,11.0,0,0,13500.0,270000.0,270000.0,0.0,270000.0,17,1,0.0,0.0,0.0,-414,-1,0.0,-413.0,-369.0,365243.0,365243.0,365243.0,0.0,0,2,234000.0,1494486.0,41224.5,1305000.0,0.030755,-15904,-8011,-677.0,-4256,2.0,1,1,0,1,0,0,4.0,2,2,9,0,0,0,1,1,0,0.000000,0.767049,0.719491,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-2108.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,4.0,True,...,False,False,False,False,False,False,False,False,False,False,False,True,True,False,True,True,False,False,True,False,True,True,False,False,False,False,False,False,False,True,False,False,True,False,False,False,False,False,False,True,False,True,False,False,False,False,False,False,False,True,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,2723183,112102,0.0,5.48,0.0,-7,250588.395,270000,0.0,0.00,0.0,0.00,13208.760,13050.0,70.740,246535.110,250588.395,250588.395,0.0,0,0.0,0.0,6.0,0,0,13500.0,270000.0,270000.0,0.0,270000.0,17,1,0.0,0.0,0.0,-414,-1,0.0,-413.0,-369.0,365243.0,365243.0,365243.0,0.0,0,2,234000.0,1494486.0,41224.5,1305000.0,0.030755,-15904,-8011,-677.0,-4256,2.0,1,1,0,1,0,0,4.0,2,2,9,0,0,0,1,1,0,0.000000,0.767049,0.719491,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-2108.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,4.0,True,...,False,False,False,False,False,False,False,False,False,False,False,True,True,False,True,True,False,False,True,False,True,True,False,False,False,False,False,False,False,True,False,False,True,False,False,False,False,False,False,True,False,True,False,False,False,False,False,False,False,True,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,2723183,112102,0.0,5.48,0.0,-14,279234.720,270000,270000.0,270000.00,0.0,0.00,0.000,0.0,0.000,270000.000,271161.720,271161.720,6.0,6,0.0,0.0,0.0,0,0,13500.0,270000.0,270000.0,0.0,270000.0,17,1,0.0,0.0,0.0,-414,-1,0.0,-413.0,-369.0,365243.0,365243.0,365243.0,0.0,0,2,234000.0,1494486.0,41224.5,1305000.0,0.030755,-15904,-8011,-677.0,-4256,2.0,1,1,0,1,0,0,4.0,2,2,9,0,0,0,1,1,0,0.000000,0.767049,0.719491,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-2108.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,4.0,True,...,False,False,False,False,False,False,False,False,False,False,False,True,True,False,True,True,False,False,True,False,True,True,False,False,False,False,False,False,False,True,False,False,True,False,False,False,False,False,False,True,False,True,False,False,False,False,False,False,False,True,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,2723183,112102,0.0,5.48,0.0,-4,274874.310,270000,13500.0,13500.00,0.0,0.00,12591.810,13500.0,5.535,269889.705,273528.810,273528.810,1.0,1,0.0,0.0,9.0,0,0,13500.0,270000.0,270000.0,0.0,270000.0,17,1,0.0,0.0,0.0,-414,-1,0.0,-413.0,-369.0,365243.0,365243.0,365243.0,0.0,0,2,234000.0,1494486.0,41224.5,1305000.0,0.030755,-15904,-8011,-677.0,-4256,2.0,1,1,0,1,0,0,4.0,2,2,9,0,0,0,1,1,0,0.000000,0.767049,0.719491,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-2108.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,4.0,True,...,False,False,False,False,False,False,False,False,False,False,False,True,True,False,True,True,False,False,True,False,True,True,False,False,False,False,False,False,False,True,False,False,True,False,False,False,False,False,False,True,False,True,False,False,False,False,False,False,False,True,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,2723183,112102,0.0,5.48,0.0,-5,264679.380,270000,0.0,21525.84,0.0,21525.84,12789.360,12600.0,8.190,260762.130,264679.380,264679.380,0.0,1,0.0,1.0,8.0,0,0,13500.0,270000.0,270000.0,0.0,270000.0,17,1,0.0,0.0,0.0,-414,-1,0.0,-413.0,-369.0,365243.0,365243.0,365243.0,0.0,0,2,234000.0,1494486.0,41224.5,1305000.0,0.030755,-15904,-8011,-677.0,-4256,2.0,1,1,0,1,0,0,4.0,2,2,9,0,0,0,1,1,0,0.000000,0.767049,0.719491,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-2108.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,4.0,True,...,False,False,False,False,False,False,False,False,False,False,False,True,True,False,True,True,False,False,True,False,True,True,False,False,False,False,False,False,False,True,False,False,True,False,False,False,False,False,False,True,False,True,False,False,False,False,False,False,False,True,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1896350,2238539,430291,0.0,0.00,0.0,-3,0.000,135000,0.0,0.00,0.0,0.00,0.000,0.0,0.000,0.000,0.000,0.000,0.0,0,0.0,0.0,0.0,0,0,2250.0,45000.0,45000.0,0.0,45000.0,17,1,0.0,0.0,0.0,-208,27,0.0,-50.0,365243.0,365243.0,365243.0,365243.0,0.0,1,1,157500.0,835380.0,40320.0,675000.0,0.010147,-13760,-255,-1074.0,-4716,0.0,1,1,0,1,0,0,3.0,2,2,17,0,0,0,0,1,1,0.426705,0.529276,0.681706,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,5.0,0.0,-1833.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,True,...,False,False,False,False,True,False,False,False,False,False,False,False,True,True,False,True,False,True,False,True,False,True,False,False,False,False,False,False,False,True,False,False,False,False,True,False,False,False,False,True,False,True,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1896351,2238539,430291,0.0,0.00,0.0,-1,0.000,135000,0.0,0.00,0.0,0.00,0.000,0.0,0.000,0.000,0.000,0.000,0.0,0,0.0,0.0,0.0,0,0,2250.0,45000.0,45000.0,0.0,45000.0,17,1,0.0,0.0,0.0,-208,27,0.0,-50.0,365243.0,365243.0,365243.0,365243.0,0.0,1,1,157500.0,835380.0,40320.0,675000.0,0.010147,-13760,-255,-1074.0,-4716,0.0,1,1,0,1,0,0,3.0,2,2,17,0,0,0,0,1,1,0.426705,0.529276,0.681706,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,5.0,0.0,-1833.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,True,...,False,False,False,False,True,False,False,False,False,False,False,False,True,True,False,True,False,True,False,True,False,True,False,False,False,False,False,False,False,True,False,False,False,False,True,False,False,False,False,True,False,True,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [56]:
X = df_train.drop(columns="TARGET")

In [57]:
y = df_train.TARGET

In [58]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0, test_size=0.2)

In [140]:
X_train.drop(columns=["NAME_CONTRACT_STATUS_x_Refused", "NAME_CONTRACT_STATUS_x_Sent proposal"], inplace=True)

In [138]:
X_train.drop(columns=columns_to_drop_for_test, inplace=True)

KeyError: "['NAME_CONTRACT_STATUS_x_Approved', 'NAME_CONTRACT_STATUS_x_Demand', 'NAME_GOODS_CATEGORY_Other', 'CHANNEL_TYPE_Car dealer', 'NAME_INCOME_TYPE_Unemployed', 'ORGANIZATION_TYPE_Industry: type 8'] not found in axis"

In [99]:
lgr_model = LogisticRegression()

In [141]:
lgr_model.fit(X_train, y_train)

/Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/sklearn/linear_model/_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

Getting Predicted Probabilities

In [137]:
lgr_model.predict_proba(X_test)

ValueError: The feature names should match those that were passed during fit.
Feature names unseen at fit time:
- CHANNEL_TYPE_Car dealer
- NAME_CONTRACT_STATUS_x_Approved
- NAME_CONTRACT_STATUS_x_Demand
- NAME_GOODS_CATEGORY_Other
- NAME_INCOME_TYPE_Unemployed
- ...

In [101]:
X_train.shape

(1517084, 340)

In [102]:
X_test.shape

(379271, 346)

# Early Entry

In [109]:
application_test.SK_ID_CURR.nunique()

48744

In [121]:
application_test.SK_ID_CURR

0        100001
1        100005
2        100013
3        100028
4        100038
          ...
48739    456221
48740    456222
48741    456223
48742    456224
48743    456250
Name: SK_ID_CURR, Length: 48744, dtype: int64

In [123]:
application_test[application_test.SK_ID_CURR == 456250]

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
48743,456250,Cash loans,F,Y,N,0,135000.0,312768.0,24709.5,270000.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.006629,-13962,-633,-1072.0,-4220,22.0,1,1,1,1,0,0,Core staff,2.0,2,2,TUESDAY,14,0,0,0,0,0,0,Government,NaN,0.456541,0.272134,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-327.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0

In [124]:
test_merge_df[test_merge_df.SK_ID_CURR == 456250]

,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,DAYS_DIFFERENCE,AMT_DIFFERENCE,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,AMT_PAYMENT_CURRENT,AMT_PAYMENT_TOTAL_CURRENT,AMT_RECEIVABLE_PRINCIPAL,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS_x,SK_DPD,SK_DPD_DEF,NAME_CONTRACT_TYPE_x,AMT_ANNUITY_x,AMT_APPLICATION,AMT_CREDIT_x,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE_x,WEEKDAY_APPR_PROCESS_START_x,HOUR_APPR_PROCESS_START_x,FLAG_LAST_APPL_PER_CONTRACT,NFLAG_LAST_APPL_IN_DAY,RATE_DOWN_PAYMENT,RATE_INTEREST_PRIMARY,RATE_INTEREST_PRIVILEGED,NAME_CASH_LOAN_PURPOSE,NAME_CONTRACT_STATUS_y,DAYS_DECISION,NAME_PAYMENT_TYPE,CODE_REJECT_REASON,NAME_TYPE_SUITE_x,NAME_CLIENT_TYPE,NAME_GOODS_CATEGORY,NAME_PORTFOLIO,NAME_PRODUCT_TYPE,CHANNEL_TYPE,SELLERPLACE_AREA,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL,NAME_CONTRACT_TYPE_y,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT_y,AMT_ANNUITY_y,AMT_GOODS_PRICE_y,NAME_TYPE_SUITE_y,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START_y,HOUR_APPR_PROCESS_START_y,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
332487,1794451.0,456250,0.0,2.826087,-419.738478,-1.0,153832.725,175500.0,0.0,0.0,0.0,0.0,8286.390,9675.0,1600.830,151808.220,153832.725,153832.725,0.0,0.0,0.0,0.0,10.0,Active,0.0,0.0,Revolving loans,9000.0,180000.0,180000.0,NaN,180000.0,MONDAY,11.0,Y,1.0,NaN,NaN,NaN,XAP,Approved,-373.0,XNA,XAP,Unaccompanied,Repeater,XNA,Cards,x-sell,Credit and cash offices,-1.0,XNA,0.0,XNA,Card X-Sell,-373.0,-327.0,365243.0,365243.0,365243.0,0.0,Cash loans,F,Y,N,0,135000.0,312768.0,24709.5,270000.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.006629,-13962,-633,-1072.0,-4220,22.0,1,1,1,1,0,0,Core staff,2.0,2,2,TUESDAY,14,0,0,0,0,0,0,Government,NaN,0.456541,0.272134,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-327.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0
332488,1794451.0,456250,0.0,2.826087,-419.738478,-4.0,166188.150,180000.0,0.0,0.0,0.0,0.0,8804.565,9000.0,356.400,163871.775,166188.150,166188.150,0.0,0.0,0.0,0.0,7.0,Active,0.0,0.0,Revolving loans,9000.0,180000.0,180000.0,NaN,180000.0,MONDAY,11.0,Y,1.0,NaN,NaN,NaN,XAP,Approved,-373.0,XNA,XAP,Unaccompanied,Repeater,XNA,Cards,x-sell,Credit and cash offices,-1.0,XNA,0.0,XNA,Card X-Sell,-373.0,-327.0,365243.0,365243.0,365243.0,0.0,Cash loans,F,Y,N,0,135000.0,312768.0,24709.5,270000.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.006629,-13962,-633,-1072.0,-4220,22.0,1,1,1,1,0,0,Core staff,2.0,2,2,TUESDAY,14,0,0,0,0,0,0,Government,NaN,0.456541,0.272134,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-327.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0
332489,1794451.0,456250,0.0,2.826087,-419.738478,-6.0,171943.020,180000.0,0.0,0.0,0.0,0.0,9084.375,8932.5,1.080,169696.080,171943.020,171943.020,0.0,0.0,0.0,0.0,5.0,Active,0.0,0.0,Revolving loans,9000.0,180000.0,180000.0,NaN,180000.0,MONDAY,11.0,Y,1.0,NaN,NaN,NaN,XAP,Approved,-373.0,XNA,XAP,Unaccompanied,Repeater,XNA,Cards,x-sell,Credit and cash offices,-1.0,XNA,0.0,XNA,Card X-Sell,-373.0,-327.0,365243.0,365243.0,365243.0,0.0,Cash loans,F,Y,N,0,135000.0,312768.0,24709.5,270000.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.006629,-13962,-633,-1072.0,-4220,22.0,1,1,1,1,0,0,Core staff,2.0,2,2,TUESDAY,14,0,0,0,0,0,0,Government,NaN,0.456541,0.272134,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-327.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0
332490,1794451.0,456250,0.0,2.826087,-419.738478,-2.0,158266.935,175500.0,0.0,0.0,0.0,0.0,8477.730,9675.0,1388.610,156053.160,158266.935,158266.935,0.0,0.0,0.0,0.0,9.0,Active,0.0,0.0,Revolving loans,9000.0,180000.0,180000.0,NaN,180000.0,MONDAY,11.0,Y,1.0,NaN,NaN,NaN,XAP,Approved,-373.0,XNA,XAP,Unaccompanied,Repeater,XNA,Cards,x-sell,Credit and cash offices,-1.0,XNA,0.0,XNA,Card X-Sell,-373.0,-327.0,365243.0,365243.0,365243.0,0.0,Cash loans,F,Y,N,0,135000.0,312768.0,24709.5,270000.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.006629,-13962,-633,-1072.0,-4220,22.0,1,1,1,1,0,0,Core staff,2.0,2,2,TUESDAY,14,0,0,0,0,0,0,Government,NaN,0.456541,0.272134,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-327.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0
332491,1794451.0,456250,0.0,2.826087,-419.738478,-3.0,162425.565,175500.0,0.0,0.0,0.0,0.0,8643.600,9000.0,522.270,160554.375,162425.565,162425.565,0.0,0.0,0.0,0.0,8.0,Active,0.0,0.0,Revolving loans,9000.0,180000.0,180000.0,NaN,180000.0,MONDAY,11.0,Y,1.0,NaN,NaN,NaN,XAP,Approved,-373.0,XNA,XAP,Unaccompanied,Repeater,XNA,Cards,x-sell,Credit and cash offices,-1.0,XNA,0.0,XNA,Card X-Sell,-373.0,-327.0,365243.0,365243.0,365243.0,0.0,Cash loans,F,Y,N,0,135000.0,312768.0,24709.5,270000.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.006629,-13962,-633,-1072.0,-4220,22.0,1,1,1,1,0,0,Core staff,2.0,2,2,TUESDAY,14,0,0,0,0,0,0,Government,NaN,0.456541,0.272134,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-327.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0
332492,1794451.0,456250,0.0,2.826087,-419.738478,-5.0,169443.855,180000.0,0.0,0.0,0.0,0.0,8931.420,9000.0,195.435,167091.345,169443.855,169443.855,0.0,0.0,0.0,0.0,6.0,Active,0.0,0.0,Revolving loans,9000.0,180000.0,180000.0,NaN,180000.0,MONDAY,11.0,Y,1.0,NaN,NaN,NaN,XAP,Approved,-373.0,XNA,XAP,Unaccompanied,Repeater,XNA,Cards,x-sell,Credit and cash offices,-1.0,XNA,0.0,XNA,Card X-Sell,-373.0,-327.0,365243.0,365243.0,365243.0,0.0,Cash loans,F,Y,N,0,135000.0,312768.0,24709.5,270000.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.006629,-13962,-633,-1072.0,-4220,22.0,1,1,1,1,0,0,Core staff,2.0,2,2,TUESDAY,14,0,0,0,0,0,0,Government,NaN,0.456541,0.272134,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-327.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0
332493,1794451.0,456250,0.0,2.826087,-419.738478,-10.0,186577.605,180000.0,0.0,0.0,0.0,0.0,9892.485,20250.0,11250.000,178200.000,185907.105,185907.105,0.0,0.0,0.0,0.0,1.0,Active,0.0,0.0,Revolving loans,9000.0,180000.0,180000.0,NaN,180000.0,MONDAY,11.0,Y,1.0,NaN,NaN,NaN,XAP,Approved,-373.0,XNA,XAP,Unaccompanied,Repeater,XNA,Cards,x-sell,Credit and cash offices,-1.0,XNA,0.0,XNA,Card X-Sell,-373.0,-327.0,365243.0,365243.0,365243.0,0.0,Cash loans,F,Y,N,0,135000.0,312768.0,24709.5,270000.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.006629,-13962,-633,-1072.0,-4220,22.0,1,1,1,1,0,0,Core staff,2.0,2,2,TUESDAY,14,0,0,0,0,0,0,Government,NaN,0.456541,0.272134,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-327.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0
332494,1794451.0,456250,0.0,2.826087,-419.738478,-7.0,174435.885,180000.0,0.0,0.0,0.0,0.0,9240.705,9675.0,590.625,172012.320,174435.885,174435.885,0.0,0.0,0.0,0.0,4.0,Active,0.0,0.0,Revolving loans,9000.0,180000.0,180000.0,NaN,180000.0,MONDAY,11.0,Y,1.0,NaN,NaN,NaN,XAP,Approved,-373.0,XNA,XAP,Unaccompanied,Repeater,XNA,Cards,x-sell,Credit and cash offices,-1.0,XNA,0.0,XNA,Card X-Sell,-373.0,-327.0,365243.0,365243.0,365243.0,0.0,Cash loans,F,Y,N,0,135000.0,312768.0,24709.5,270000.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.006629,-13962,-633,-1072.0,-4220,22.0,1,1,1,1,0,0,Core staff,2.0,2,2,TUESDAY,14,0,0,0,0,0,0,Government,NaN,0.456541,0.272134,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-327.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0
332495,1794451.0,456250,0.0,2.826087,-419.738478,-8.0,177219.000,180000.0,0.0,0.0,0.0,0.0,9465.705,9675.0,434.295,174653.820,176958.900,176958.900,0.0,0.0,0.0,0.0,3.0,Active,0.0,0.0,Revolving loans,9000.0,180000.0,180000.0,NaN,180000.0,MONDAY,11.0,Y,1.0,NaN,NaN,NaN,XAP,Approved,-373.0,XNA,XAP,Unaccompanied,Repeater,XNA,Cards,x-sell,Credit and cash offices,-1.0,XNA,0.0,XNA,Card X-Sell,-373.0,-327.0,365243.0,365243.0,365243.0,0.0,Cash loans,F,Y,N,0,135000.0,312768.0,24709.5,270000.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.006629,-13962,-633,-1072.0,-4220,22.0,1,1,1,1,0,0,Core staff,2.0,2,2,TUESDAY,14,0,0,0,0,0,0,Government,NaN,0.456541,0.272134,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-327.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0
332496,1794451.0,456250,0.0,2.826087,-419.738478,-12.0,181993.500,180000.0,171000.0,171000.0,0.0,0.0,0.000,NaN,0.000,171000.000,171000.000,171000.000,7.0,7.0,0.0,0.0,0.0,Active,0.0,0.0,Revolving loans,9000.0,180000.0,180000.0,NaN,180000.0,MONDAY,11.0,Y,1.0,NaN,NaN,NaN,XAP,Approved,-373.0,XNA,XAP,Unaccompanied,Repeater,XNA,Cards,x-sell,Credit and cash offices,-1.0,XNA,0.0,XNA,Card X-Sell,-373.0,-327.0,365243.0,365243.0,365243.0,0.0,Cash loans,F,Y,N,0,135000.0,312768.0,24709.5,270000.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.006629,-13962,-633,-1072.0,-4220,22.0,1,1,1,1,0,0,Core staff,2.0,2,2,TUESDAY,14,0,0,0,0,0,0,Government,NaN,0.456541,0.272134,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-327.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0
332497,1794451.0,456250,0.0,2.826087,-419.738478,-11.0,200208.915,180000.0,9000.0,9000.0,0.0,0.0,0.000,NaN,0.000,180000.000,196581.915,196581.915,1.0,1.0,0.0,0.0,0.0,Active,0.0,0.0,Revolving loans,9000.0,180000.0,180000.0,NaN,180000.0,MONDAY,11.0,Y,1.0,NaN,NaN,NaN,XAP,Approved,-373.0,XNA,XAP,Unaccompanied,Repeater,XNA,Cards,x-sell,Credit and cash offices,-1.0,XNA,0.0,XNA,Card X-Sell,-373.0,-327.0,365243.0,365243.0,365243.0,0.0,Cash loans,F,Y,N,0,135000.0,312768.0,24709.5,270000.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.006629,-13962,-633,-1072.0,-4220,22.0,1,1,1,1,0,0,Core staff,2.0,2,2,TUESDAY,14,0,0,0,0,0,0,Government,NaN,0.456541,0.272134,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-327.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0
332498,1794451.0,456250,0.0,2.826087,-419.738478,-9.0,180536.760,180000.0,0.0,0.0,0.0,0.0,9653.985,12600.0,3134.295,176418.000,179866.260,179866.260,0.0,0.0,0.0,0.0,2.0,Active,0.0,0.0,Revolving loans,9000.0,180000.0,180000.0,NaN,180000.0,MONDAY,11.0,Y,1.0,NaN,NaN,NaN,XAP,Approved,-373.0,XNA,XAP,Unaccompanied,Repeater,XNA,Cards,x-sell,Credit and cash offices,-1.0,XNA,0.0,XNA,Card X-Sell,-373.0,-327.0,365243.0,365243.0,365243.0,0.0,Cash loans,F,Y,N,0,135000.0,312768.0,24709.5,270000.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.006629,-13962,-633,-1072.0,-4220,22.0,1,1,1,1,0,0,Core staff,2.0,2,2,TUESDAY,14,0,0,0,0,0,0,Government,NaN,0.456541,0.272134,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-327.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0

In [ ]:
GOAL: have a single SK_ID_CURR


find the duplicated SK_ID_CURR

then group by SK_ID_CURR

take mode of object features

take median of numeric features

drop


second_merge_df.SK_ID_CURR

In [114]:
test_merge_df.SK_ID_CURR.nunique()

48744

In [122]:
test_merge_df.SK_ID_CURR

0         100001
1         100005
2         100013
3         100028
4         100028
           ...
332494    456250
332495    456250
332496    456250
332497    456250
332498    456250
Name: SK_ID_CURR, Length: 332499, dtype: int64

In [ ]:
second_merge_df.SK_ID_CURR

In [125]:
second_merge_df.SK_ID_CURR

0          112102
1          112102
2          112102
3          112102
4          112102
            ...
2189219    430291
2189220    430291
2189221    430291
2189222    430291
2189223    430291
Name: SK_ID_CURR, Length: 2189224, dtype: int64

In [116]:
test_entry.SK_ID_CURR.nunique()

48744

In [130]:
test_merge_df = second_merge_df.merge(application_test, on="SK_ID_CURR", how="right")

In [131]:
test_merge_df.SK_ID_CURR

0        100001.0
1        100005.0
2        100013.0
3        100028.0
4        100038.0
           ...
48739    456221.0
48740    456222.0
48741    456223.0
48742    456224.0
48743    456250.0
Name: SK_ID_CURR, Length: 48744, dtype: float64

In [132]:
test_entry = pd.get_dummies(test_merge_df).fillna(0)

In [142]:
test_entry.drop(columns= ["NAME_INCOME_TYPE_Businessman", "NAME_INCOME_TYPE_Student", "NAME_INCOME_TYPE_Unemployed", "NAME_TYPE_SUITE_x_0"], inplace=True)

In [144]:
test_entry.drop(columns= "ORGANIZATION_TYPE_Industry: type 8", inplace=True)

In [85]:
application_train.shape

(307511, 122)

In [84]:
application_test.shape

(48744, 121)

In [103]:
test_entry.shape

(292869, 340)

In [95]:
columns_to_drop_for_test = df_train.columns[np.where(~df_train.columns.isin(test_entry.columns))]

In [65]:
application_test.fillna(0)

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100001,Cash loans,F,N,Y,0,135000.0,568800.0,20560.5,450000.0,Unaccompanied,Working,Higher education,Married,House / apartment,0.018850,-19241,-2329,-5170.0,-812,0.0,1,1,0,1,0,1,0,2.0,2,2,TUESDAY,18,0,0,0,0,0,0,Kindergarten,0.752614,0.789654,0.159520,0.0660,0.0590,0.9732,0.0000,0.0000,0.00,0.1379,0.1250,0.0000,0.0000,0.0000,0.0505,0.0000,0.0000,0.0672,0.0612,0.9732,0.0000,0.0000,0.0000,0.1379,0.1250,0.0000,0.0000,0.0000,0.0526,0.0000,0.0000,0.0666,0.0590,0.9732,0.0000,0.0000,0.00,0.1379,0.1250,0.0000,0.0000,0.0000,0.0514,0.0000,0.0000,0,block of flats,0.0392,"Stone, brick",No,0.0,0.0,0.0,0.0,-1740.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
1,100005,Cash loans,M,N,Y,0,99000.0,222768.0,17370.0,180000.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.035792,-18064,-4469,-9118.0,-1623,0.0,1,1,0,1,0,0,Low-skill Laborers,2.0,2,2,FRIDAY,9,0,0,0,0,0,0,Self-employed,0.564990,0.291656,0.432962,0.0000,0.0000,0.0000,0.0000,0.0000,0.00,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.00,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0,0,0.0000,0,0,0.0,0.0,0.0,0.0,0.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
2,100013,Cash loans,M,Y,Y,0,202500.0,663264.0,69777.0,630000.0,0,Working,Higher education,Married,House / apartment,0.019101,-20038,-4458,-2175.0,-3503,5.0,1,1,0,1,0,0,Drivers,2.0,2,2,MONDAY,14,0,0,0,0,0,0,Transport: type 3,0.000000,0.699787,0.610991,0.0000,0.0000,0.0000,0.0000,0.0000,0.00,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.00,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0,0,0.0000,0,0,0.0,0.0,0.0,0.0,-856.0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0
3,100028,Cash loans,F,N,Y,2,315000.0,1575000.0,49018.5,1575000.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.026392,-13976,-1866,-2000.0,-4208,0.0,1,1,0,1,1,0,Sales staff,4.0,2,2,WEDNESDAY,11,0,0,0,0,0,0,Business Entity Type 3,0.525734,0.509677,0.612704,0.3052,0.1974,0.9970,0.9592,0.1165,0.32,0.2759,0.3750,0.0417,0.2042,0.2404,0.3673,0.0386,0.0800,0.3109,0.2049,0.9970,0.9608,0.1176,0.3222,0.2759,0.3750,0.0417,0.2089,0.2626,0.3827,0.0389,0.0847,0.3081,0.1974,0.9970,0.9597,0.1173,0.32,0.2759,0.3750,0.0417,0.2078,0.2446,0.3739,0.0388,0.0817,reg oper account,block of flats,0.3700,Panel,No,0.0,0.0,0.0,0.0,-1805.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
4,100038,Cash loans,M,Y,N,1,180000.0,625500.0,32067.0,625500.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.010032,-13040,-2191,-4000.0,-4262,16.0,1,1,1,1,0,0,0,3.0,2,2,FRIDAY,5,0,0,0,0,1,1,Business Entity Type 3,0.202145,0.425687,0.000000,0.0000,0.0000,0.0000,0.0000,0.0000,0.00,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.00,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0,0,0.0000,0,0,0.0,0.0,0.0,0.0,-821.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48739,456221,Cash loans,F,N,Y,0,121500.0,412560.0,17473.5,270000.0,Unaccompanied,Working,Secondary / secondary special,Widow,House / apartment,0.002042,-19970,-5169,-9094.0,-3399,0.0,1,1,1,1,1,0,0,1.0,3,3,WEDNESDAY,16,0,0,0,0,0,0,Other,0.000000,0.648575,0.643026,0.0000,0.0000,0.0000,0.0000,0.0000,0.00,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.00,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0,0,0.0000,0,0,1.0,0.0,1.0,0.0,-684.0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
48740,456222,Cash loans,F,N,N,2,157500.0,622413.0,31909.5,495000.0,Unaccompanied,Commercial associate,Secondary / secondary special,Married,House / apartment,0.035792,-11186,-1149,-3015.0,-3003,0.0,1,1,0,1,0,0,Sales staff,4.0,2,2,MONDAY,11,0,0,0,0,1,1,Trade: type 7,0.000000,0.684596,0.000000,0.0000,0.0000,0.0000,0.0000,0.0000,0.00,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.00,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0,0,0.0000,0,0,2.0,0.0,2.0,0.0,0.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
48741,456223,Cash loans,F,Y,Y,1,202500.0,315000.0,33205.5,315000.0,Unaccompanied,Commercial associate,Secondary / secondary special,Married,House / apartment,0.026392,-15922,-3037,-2681.0,-1504,4.0,1,1,0,1,1,0,0,3.0,2,2,WEDNESDAY,12,0,0,0,0,0,0,Business Entity Type 3,0.733503,0.632770,0.283712,0.1113,0.1364,0.9955,0.0000,0.0000,0.16,0.1379,0.3333,0.0000,0.0000,0.0000,0.1383,0.0000,0.0542,0.1134,0.1415,0.9955,0.0000,0.0000,0.1611,0.1379,0.3333,0.0000,0.0000,0.0000,0.1441,0.0000,0.0574,0.1124,0.1364,0.9955,0.0000,0.0000,0.16,0.1379,0.3333,0.0000,0.0000,0.0000,0.1408,0.0000,0.0554,0,block of flats,0.1663,"Stone, brick",No,0.0,0.0,0.0,0.0,-838.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,3.0,1.0
48742,456224,Cash loans,M,N,N,0,225000.0,450000.0,25128.0,450000.0,Family,Commercial associate,Higher education,Married,House / apartment,0.018850,-13968,-2731,-1461.0,-1364,0.0,1,1,1,1,1,0,Managers,2.0,2,2,MONDAY,10,0,1,1,0,1,1,Self-employed,0.373090,0.445701,0.595456,0.1629,0.0723,0.9896,0.0000,0.0000,0.16,0.0690,0.6250,0.0000,0.0000,0.0000,0.1563,0.0000,0.1490,0.1660,0.0750,0.9896,0.0000,0.0000,0.1611,0.0690,0.6250,0.0000,0.0000,0.0000,0.1204,0.0000,0.1577,0.1645,0.0723,0.9896,0.0000,0.0000,0.16,0.0690,0.6250,0.0000,0.0000,0.0000,0.1591,0.0000,0.1521,0,block of flats,0.1974,Panel,No,0.0,0.0,0.0,0.0,-2308.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
48743,456250,Cash loans,F,Y,N,0,135000.0,312768.0,24709.5,270000.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.006629,-13962,-633,-1072.0,-4220,22.0,1,1,1,1,0,0,Core staff,2.0,2,2,TUESDAY,14,0,0,0,0,0,0,Government,0.000000,0.456541,0.272134,0.0000,0.0000,0.0000,0.0000,0.0000,0.00,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.00,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0,0,0.0000,0,0,0.0,0.0,0.0,0.0,-327.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0

In [104]:
lgr_model.predict_proba(X_test.drop(columns = columns_to_drop_for_test))

array([[0.94076465, 0.05923535],
       [0.93810764, 0.06189236],
       [0.94605497, 0.05394503],
       ...,
       [0.94673284, 0.05326716],
       [0.92340355, 0.07659645],
       [0.96305345, 0.03694655]])

In [153]:
len(lgr_model.predict_proba(test_entry))

48744

In [ ]:
# DROP FROM X_TRAIN
["NAME_CONTRACT_STATUS_x_Refused", "NAME_CONTRACT_STATUS_x_Sent proposal"]

In [ ]:
# DROP FROM test_entry
["NAME_INCOME_TYPE_Businessman", "NAME_INCOME_TYPE_Student", "NAME_INCOME_TYPE_Unemployed", "NAME_TYPE_SUITE_x_0"]

In [ ]:
test_entry.drop(columns= ["NAME_INCOME_TYPE_Businessman", "NAME_INCOME_TYPE_Student", "NAME_INCOME_TYPE_Unemployed", "NAME_TYPE_SUITE_x_0"], inplace=True)

In [106]:
df_entry = pd.DataFrame([])

In [134]:
test_entry.SK_ID_CURR.astype("int")

0        100001
1        100005
2        100013
3        100028
4        100038
          ...
48739    456221
48740    456222
48741    456223
48742    456224
48743    456250
Name: SK_ID_CURR, Length: 48744, dtype: int64

In [120]:
application_test.SK_ID_CURR

0        100001
1        100005
2        100013
3        100028
4        100038
          ...
48739    456221
48740    456222
48741    456223
48742    456224
48743    456250
Name: SK_ID_CURR, Length: 48744, dtype: int64

In [118]:
test_entry.SK_ID_CURR.nunique()

48744

In [148]:
df_entry = df_entry.dropna()

In [150]:
df_entry.SK_ID_CURR = df_entry.SK_ID_CURR.astype("int")

/var/folders/75/8cznfb4d2j56mrdwqyh36s3w0000gn/T/ipykernel_5972/2361674564.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_entry.SK_ID_CURR = df_entry.SK_ID_CURR.astype("int")

In [151]:
df_entry

       SK_ID_CURR
0          100001
1          100005
2          100013
3          100028
4          100038
...           ...
48739      456221
48740      456222
48741      456223
48742      456224
48743      456250

[48744 rows x 1 columns]

In [135]:
df_entry["SK_ID_CURR"] = test_entry.SK_ID_CURR.astype("int")

In [162]:
df_entry["TARGET"] = np.round(lgr_model.predict_proba(test_entry)[:,1],1)

/var/folders/75/8cznfb4d2j56mrdwqyh36s3w0000gn/T/ipykernel_5972/4234658232.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_entry["TARGET"] = np.round(lgr_model.predict_proba(test_entry)[:,1],1)

In [163]:
df_entry

       SK_ID_CURR  TARGET
0          100001     0.4
1          100005     0.4
2          100013     0.5
3          100028     0.1
4          100038     0.4
...           ...     ...
48739      456221     0.4
48740      456222     0.4
48741      456223     0.4
48742      456224     0.4
48743      456250     0.2

[48744 rows x 2 columns]

In [165]:
df_entry

       SK_ID_CURR  TARGET
0          100001     0.4
1          100005     0.4
2          100013     0.5
3          100028     0.1
4          100038     0.4
...           ...     ...
48739      456221     0.4
48740      456222     0.4
48741      456223     0.4
48742      456224     0.4
48743      456250     0.2

[48744 rows x 2 columns]

In [166]:
df_entry.to_csv("Test_Entry.csv", index =False)

In [155]:
lgr_model.classes_

array([0, 1])

In [161]:
np.round(lgr_model.predict_proba(test_entry)[:,1],1)

array([0.4, 0.4, 0.5, ..., 0.4, 0.4, 0.2])

GOAL: have a single SK_ID_CURR


find the duplicated SK_ID_CURR

then group by SK_ID_CURR

take mode of object features

take median of numeric features

drop


second_merge_df.SK_ID_CURR

In [128]:
second_merge_df = second_merge_df.fillna(0)

In [129]:
for each_num_column in second_merge_df.select_dtypes(exclude="object").columns:
    second_merge_df[each_num_column] = second_merge_df.groupby("SK_ID_CURR")[each_num_column].transform(lambda x: x.median())

for each_obj_column in second_merge_df.select_dtypes(include="object").columns:
    second_merge_df[each_obj_column] = second_merge_df.groupby("SK_ID_CURR")[each_obj_column].transform(lambda x: x.mode()[0])

second_merge_df.drop_duplicates(inplace=True)

second_merge_df.SK_ID_CURR

0          112102.0
13         147645.0
48         100193.0
133        183431.0
209        159586.0
             ...
2189192    430213.0
2189203    437333.0
2189212    408738.0
2189215    424735.0
2189217    430291.0
Name: SK_ID_CURR, Length: 62076, dtype: float64

# TIP: More important to remove data than impute data